.dashboard-container {
    padding: 20px;
    padding-left: 140px;
  }

  .toolbar {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .table-section {
    overflow-x: auto;
  }
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: left;
  }
  
  .mat-header-row {
    border-bottom: 2px solid #ccc;
  }
  
  .mat-cell {
    padding: 12px;
    text-align: left;
    font-size: 14px;
  }
  
  .header-icon {
    vertical-align: middle;
    margin-right: 5px;
    color: orange;
  }
  
  mat-progress-spinner {
    display: block;
    margin: 40px auto;
  }

  tr:hover {
    background-color: #f9f9f9; /* Light gray background on hover */
    cursor: pointer; /* Indicates interactivity */
  }
  @media (max-width: 768px) {
    .dashboard-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .mat-header-cell, .mat-cell {
      font-size: 12px;
    }
  }
  .number-button,
.number-text {
  font-size: 14px; /* Adjust size as needed */
  color: #3f51b5; /* Optional: Match the color theme */
  font-weight: bold; /* Optional: Add emphasis */
  text-decoration: none; /* Ensure no underline by default */
  align-items: center;
}

.number-button:hover,
.number-text:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer; /* Indicate interactivity */
}

.mat-header-cell {
  font-size: 12px; /* Adjust header font size */
  font-weight: bold;
  color: #616161; /* Adjust header color */
}
