<div class="meets-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" style="border-radius: 10px;">
      <span>Shoots Management</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="Schedule()">
        <i class="material-icons">add</i> Schedule Meet
      </button>
    </mat-toolbar>
  
    <!-- Tabs -->
    <div class="tabs">
      <button
        mat-raised-button
        color="primary"
        [class.active]="activeTab === 'upcoming'"
        (click)="switchTab('upcoming')"
      >
        <mat-icon>calendar_today</mat-icon> Upcoming
      </button>
      <button
        mat-raised-button
        color="default"
        [class.active]="activeTab === 'tentative'"
        (click)="switchTab('tentative')"
      >
        <mat-icon>schedule</mat-icon> Tentative
      </button>
    </div>
  
 <!-- Table for Upcoming Tab -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="activeTab === 'upcoming'">
    <!-- Serial Number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ row.id }}</td>
    </ng-container>
  
    <!-- Organization Name Column -->
    <ng-container matColumnDef="organizationName">
      <th mat-header-cell *matHeaderCellDef>Organization Name</th>
      <td mat-cell *matCellDef="let row">{{ row.organizationName }}</td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Schedule Date</th>
      <td mat-cell *matCellDef="let row">{{ row.date }}</td>
    </ng-container>
  
    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Schedule Time</th>
      <td mat-cell *matCellDef="let row">{{ row.time }}</td>
    </ng-container>
  
    <!-- No. of YT Videos Column -->
    <ng-container matColumnDef="noOfYTVideos">
      <th mat-header-cell *matHeaderCellDef>No. of YT Videos</th>
      <td mat-cell *matCellDef="let row">{{ row.noOfYouTubeVideos }}</td>
    </ng-container>
  
    <!-- No. of ED Reels Column -->
    <ng-container matColumnDef="noOfEDReels">
      <th mat-header-cell *matHeaderCellDef>No. of ED Reels</th>
      <td mat-cell *matCellDef="let row">{{ row.noOfEducationalReels }}</td>
    </ng-container>
  
    <!-- Status Column -->
    <ng-container matColumnDef="meetingStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">{{ row.meetingStatus }}</td>
    </ng-container>
  
    <!-- Remarks Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let row">{{ row.remarks }}</td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="editMeetten(row)">Edit</button>
      </td>
    </ng-container>
  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <!-- Table for Tentative Tab -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="activeTab === 'tentative'">
    <!-- Serial Number Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ row.id }}</td>
    </ng-container>
  
    <!-- Organization Name Column -->
    <ng-container matColumnDef="organizationName">
      <th mat-header-cell *matHeaderCellDef>Organization Name</th>
      <td mat-cell *matCellDef="let row">{{ row.organizationName }}</td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Schedule Date</th>
      <td mat-cell *matCellDef="let row">{{ row.date }}</td>
    </ng-container>
  
    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Schedule Time</th>
      <td mat-cell *matCellDef="let row">{{ row.time }}</td>
    </ng-container>
  
    <!-- No. of YouTube Videos Column -->
    <ng-container matColumnDef="noOfYouTubeVideos">
      <th mat-header-cell *matHeaderCellDef>No. of YouTube Videos</th>
      <td mat-cell *matCellDef="let row">{{ row.noOfYouTubeVideos }}</td>
    </ng-container>
  
    <!-- No. of Educational Reels Column -->
    <ng-container matColumnDef="noOfEducationalReels">
      <th mat-header-cell *matHeaderCellDef>No. of Educational Reels</th>
      <td mat-cell *matCellDef="let row">{{ row.noOfEducationalReels }}</td>
    </ng-container>
  
    <!-- Remarks Column -->
    <!-- <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let row">{{ row.remarks }}</td>
    </ng-container> -->
  
    <!-- Actions Column -->
    <!-- <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="editMeetten(row)">Edit</button>
      </td>
    </ng-container> -->
  
    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
       <!-- Paginator -->
       <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
  