<!-- Header or Topbar for mobile toggle button -->
<header class="header">
  <button class="sidebar-toggle" (click)="toggleMobileMenu()">☰</button>
</header>

<!-- Sidebar (Left Menu) -->
<nav class="sidebar">
  <!-- Logo at the top of the left menu -->
  <div class="sidebar-logo">
    <img src="assets/img/Atoms-Digital-White.png" alt="Logo" class="logo">
  </div>

  <!-- Sidebar Menu Content -->
  <nav class="sidebar">
    <!-- Logo and Sidebar Content -->
    <div class="sidebar-logo">
      <img src="assets/img/Atoms-Digital-White.png" alt="Logo" class="logo">
    </div>
    <div class="sidebar-content">
      <ul class="sidebar-list">
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.route" routerLinkActive="active">
            <i class="material-icons">{{ item.icon }}</i> {{ item.title }}
          </a>
        </li>
        <li class="dropdown" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
          <a  class="dropdown-toggle">
            <i class="material-icons">business_center</i> Marketing
            <i class="material-icons arrow-icon">expand_more</i>
          </a>
          <ul class="submenu">
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'lead-management']" routerLinkActive="active">
                <i class="material-icons">supervised_user_circle</i> Lead Management
              </a>
            </li>
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'meet-management']" routerLinkActive="active">
                <i class="material-icons">event</i> Meet Management
              </a>
            </li>
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'meet-management-histoty']" routerLinkActive="active">
                <i class="material-icons">event</i> Meet History
              </a>
            </li>
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'generate-quote']" routerLinkActive="active">
                <i class="material-icons">description</i> Quote Generation
              </a>
            </li>
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'sla-generation']" routerLinkActive="active">
                <i class="material-icons">receipt</i> SLA Generation
              </a>
            </li>
            <li *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])">
              <a [routerLink]="['/home', 'marketing', 'sales-converted']" routerLinkActive="active">
                <i class="material-icons">monetization_on</i> Sales Converted
              </a>
            </li>
          </ul>
        </li>
        
        <!-- <li>
          <a [routerLink]="['/home', 'marketing', 'lead-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">supervised_user_circle</i> Lead Management
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'meet-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">event</i> Meet Management
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'meet-management-histoty']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">event</i> Meet History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'generate-quote']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">description</i> Quote Generation
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'sla-generation']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">receipt</i> SLA Generation
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'sales-converted']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">monetization_on</i> Sales Converted
          </a>
        </li> -->
        <li>
          <a [routerLink]="['/home', 'operations', 'clients-list']" *ngIf="roleService.hasRole(['Sales Lead','Manager', 'Team Lead'])" routerLinkActive="active">
            <i class="material-icons">group</i>Clients
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'specialdays-view']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Special Days
          </a>
        </li>
            <li>
          <a [routerLink]="['/home', 'operations', 'clientMeta-view']" 
             *ngIf="roleService.hasRole(['Team Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Client Meta Data
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'content-writer-calender-export']" 
             *ngIf="roleService.hasRole(['Content Writer'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Calendar Export
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'lead-approvals']" 
             *ngIf="roleService.hasRole(['Sales Lead', 'Manager','Team Lead','Content Writer','Poster Designer','Video Editor','HR'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Approvals
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'lead-approvals-history']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">history</i>Approvals History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'content-writer-client']" 
          *ngIf="roleService.hasRole(['Content Writer'])" routerLinkActive="active">
            <i class="material-icons">edit</i>Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'content-writer-videos-client']" 
          *ngIf="roleService.hasRole(['Content Writer'])" routerLinkActive="active">
            <i class="material-icons">edit</i>Daily Tasks (Videos)
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'poster-designer-client']" 
             *ngIf="roleService.hasRole(['Poster Designer','Video Editor'])" 
             routerLinkActive="active">
            <i class="material-icons">design_services</i>Poster Designer Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'video-editor-client']" 
             *ngIf="roleService.hasRole([ 'Video Editor'])" 
             routerLinkActive="active">
            <i class="material-icons">movie_creation</i>General Educational Videos
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'photo-grapher-client']" 
             *ngIf="roleService.hasRole(['Videographer'])" 
             routerLinkActive="active">
            <i class="material-icons">videocam</i>Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'photo-grapher-history']" 
             *ngIf="roleService.hasRole(['Videographer'])" 
             routerLinkActive="active">
            <i class="material-icons">history</i>Shoots History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'graphicreels-designer-client']" 
             *ngIf="roleService.hasRole([ 'Video Editor', 'Videos Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">movie_creation</i>Graphic Videos
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'client-dma']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">trending_up</i>Daily Tasks
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'ad-campaign-dma']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">campaign</i>Ad Campaign Management
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'ad-campaign-report']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">analytics</i>Ad Campaign Report
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'dashboard', 'dma-adcampaign-summary']" 
             *ngIf="roleService.hasRole([ 'DMA','Sales Lead','Team Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">analytics</i>Ad Campaign Summary Report
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'client-kt-documents']" 
          *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])"
             routerLinkActive="active">
            <i class="material-icons">description</i>KT Documents
          </a>
        </li>
        <li class="dropdown" >
          <a  class="dropdown-toggle">
            <i class="material-icons">people</i> EMS
            <i class="material-icons arrow-icon">expand_more</i>
          </a>
          <ul class="submenu">
        <li>
          <a [routerLink]="['/home', 'employees', 'listofemployees']" 
             *ngIf="roleService.hasRole(['HR','Sales Lead'])"
             routerLinkActive="active">
            <i class="material-icons">people</i> Employees List
          </a>
        </li>
        
        <li>
          <a [routerLink]="['/home', 'employees', 'leave-applications']" 
             routerLinkActive="active">
            <i class="material-icons">event</i> Leave Management
          </a>
        </li>
        
        <li>
          <a [routerLink]="['/home', 'employees', 'leave-approvals']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead','Sales Lead'])"
             routerLinkActive="active">
            <i class="material-icons">task_alt</i> Leave Approvals
          </a>
        </li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="roleService.hasRole(['Manager','Team Lead','Sales Lead','HR'])">
          <a  class="dropdown-toggle">
            <i class="material-icons">business_center</i> Accounts
            <i class="material-icons arrow-icon">expand_more</i>
          </a>
          <ul class="submenu">
            <li>
              <a [routerLink]="['/home', 'employees', 'payment-tabs']" 
                 *ngIf="roleService.hasRole(['Manager','Team Lead','Sales Lead'])"
                 routerLinkActive="active">
                <i class="material-icons">payments</i> Payments/Invoices
              </a>
            </li>
            <li>
              <a [routerLink]="['/home', 'employees', 'expenses']" 
                 *ngIf="roleService.hasRole(['Manager','HR','Sales Lead'])"
                 routerLinkActive="active">
                <i class="material-icons">money_off</i> Expenses
              </a>
            </li>
            <li>
              <a [routerLink]="['/home', 'employees', 'income-statement']" 
                 *ngIf="roleService.hasRole(['Sales Lead'])"
                 routerLinkActive="active">
                <i class="material-icons">bar_chart</i> Balance Statement 
              </a>
            </li>
            <!-- <li>
              <a [routerLink]="['/home', 'employees', 'budget-planning']" 
                 *ngIf="roleService.hasRole(['Sales Lead'])"
                 routerLinkActive="active">
                <i class="material-icons">calculate</i> Budget Planning
              </a>
            </li> -->
            <li>
              <a [routerLink]="['/home', 'employees', 'employee-salary']" 
                 *ngIf="roleService.hasRole(['Sales Lead','HR'])"
                 routerLinkActive="active">
                <i class="material-icons">calculate</i>Employee Salary
              </a>
            </li>
          </ul>
        </li>
        
      </ul>
      
      <!-- Logout Button -->
      <div class="logout-btn">
      <a (click)="logout()">
      <i class="material-icons">exit_to_app</i> Log Out
      </a>
      </div>

    </div>
  </nav>
  
</nav>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.active]="isMobileMenuActive">
  <button class="close-btn" (click)="toggleMobileMenu()">×</button>
  <ul class="sidebar-list">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.route" routerLinkActive="active">
        <i class="material-icons">{{ item.icon }}</i> {{ item.title }}
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'lead-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">supervised_user_circle</i> Lead Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'meet-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">event</i> Meet Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'meet-management-histoty']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">event</i> Meet History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'generate-quote']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">description</i> Quote Generation
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'sla-generation']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">receipt</i> SLA Generation
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'sales-converted']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">monetization_on</i> Sales Converted
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'clients-list']" *ngIf="roleService.hasRole(['Manager', 'Team Lead'])" routerLinkActive="active">
        <i class="material-icons">monetization_on</i>Clients
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'specialdays-view']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Special Days
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'content-writer-client']" *ngIf="roleService.hasRole([ 'Content Writer'])" routerLinkActive="active">
        <i class="material-icons">edit</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'poster-designer-client']" 
         *ngIf="roleService.hasRole([ 'Poster Designer'])" 
         routerLinkActive="active">
        <i class="material-icons">design_services</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'video-editor-client']" 
         *ngIf="roleService.hasRole(['Video Editor'])" 
         routerLinkActive="active">
        <i class="material-icons">movie_creation</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'photo-grapher-client']" 
         *ngIf="roleService.hasRole([ 'Videographer'])" 
         routerLinkActive="active">
        <i class="material-icons">videocam</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'photo-grapher-history']" 
         *ngIf="roleService.hasRole(['Videographer'])" 
         routerLinkActive="active">
        <i class="material-icons">history</i>Shoots History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'graphicreels-designer-client']" 
         *ngIf="roleService.hasRole([ 'Video Editor'])" 
         routerLinkActive="active">
        <i class="material-icons">movie_creation</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'client-dma']" 
         *ngIf="roleService.hasRole([ 'DMA'])" 
         routerLinkActive="active">
        <i class="material-icons">upload_file</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'ad-campaign-dma']" 
         *ngIf="roleService.hasRole([ 'DMA'])" 
         routerLinkActive="active">
        <i class="material-icons">upload_file</i>Ad Campaign Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'lead-approvals']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Approvals
      </a>
    </li>

    <li>
      <a [routerLink]="['/home', 'operations', 'lead-approvals-history']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
         routerLinkActive="active">
        <i class="material-icons">history</i>Approvals History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'client-kt-documents']" 
      *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])"
         routerLinkActive="active">
        <i class="material-icons">description</i>KT Documents
      </a>
    </li>

    <li>
      <a [routerLink]="['/home', 'operations', 'content-writer-calender-export']" 
         *ngIf="roleService.hasRole(['Content Writer'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Calendar Export
      </a>
    </li>
    <!-- <li class="dropdown" [class.active]="isDropdownActive['task']" (click)="toggleDropdown('task')">
      <a ><i class="material-icons">check_circle</i> Daily Status</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/home/leadmanagement" routerLinkActive="active">Task List</a></li>
      </ul>
    </li>
    <li class="dropdown" [class.active]="isDropdownActive['employee']" (click)="toggleDropdown('employee')">
      <a ><i class="material-icons">group</i> Employee</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/home/leadmanagement" routerLinkActive="active">Employee List</a></li>
      </ul>
    </li> -->
  </ul>
  <!-- Logout Button -->
  <div class="logout-btn">
    <a (click)="logout()">
    <i class="material-icons">exit_to_app</i> Log Out
    </a>
    </div>
</div>
