<!-- Header or Topbar for mobile toggle button -->
<header class="header">
  <button class="sidebar-toggle" (click)="toggleMobileMenu()">☰</button>
</header>

<!-- Sidebar (Left Menu) -->
<nav class="sidebar">
  <!-- Logo at the top of the left menu -->
  <div class="sidebar-logo">
    <img src="assets/img/Atoms-Digital-White.png" alt="Logo" class="logo">
  </div>

  <!-- Sidebar Menu Content -->
  <nav class="sidebar">
    <!-- Logo and Sidebar Content -->
    <div class="sidebar-logo">
      <img src="assets/img/Atoms-Digital-White.png" alt="Logo" class="logo">
    </div>
    <div class="sidebar-content">
      <ul class="sidebar-list">
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.route" routerLinkActive="active">
            <i class="material-icons">{{ item.icon }}</i> {{ item.title }}
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'lead-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">supervised_user_circle</i> Lead Management
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'meet-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">event</i> Meet Management
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'meet-management-histoty']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">event</i> Meet History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'generate-quote']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">description</i> Quote Generation
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'sla-generation']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">receipt</i> SLA Generation
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'marketing', 'sales-converted']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
            <i class="material-icons">monetization_on</i> Sales Converted
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'clients-list']" *ngIf="roleService.hasRole(['Manager', 'Team Lead'])" routerLinkActive="active">
            <i class="material-icons">group</i>Clients
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'specialdays-view']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Special Days
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'content-writer-calender-export']" 
             *ngIf="roleService.hasRole(['Content Writer'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Calendar Export
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'lead-approvals']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">event</i>Approvals
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'lead-approvals-history']" 
             *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
             routerLinkActive="active">
            <i class="material-icons">history</i>Approvals History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'content-writer-client']" 
          *ngIf="roleService.hasRole(['Content Writer'])" routerLinkActive="active">
            <i class="material-icons">edit</i>Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'poster-designer-client']" 
             *ngIf="roleService.hasRole(['Poster Designer'])" 
             routerLinkActive="active">
            <i class="material-icons">design_services</i>Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'video-editor-client']" 
             *ngIf="roleService.hasRole([ 'Video Editor'])" 
             routerLinkActive="active">
            <i class="material-icons">movie_creation</i>General Educational Videos
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'photo-grapher-client']" 
             *ngIf="roleService.hasRole(['Videographer'])" 
             routerLinkActive="active">
            <i class="material-icons">videocam</i>Daily Tasks
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'photo-grapher-history']" 
             *ngIf="roleService.hasRole(['Videographer'])" 
             routerLinkActive="active">
            <i class="material-icons">history</i>Shoots History
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'graphicreels-designer-client']" 
             *ngIf="roleService.hasRole([ 'Video Editor'])" 
             routerLinkActive="active">
            <i class="material-icons">movie_creation</i>Graphic Videos
          </a>
        </li>
        <li>
          <a [routerLink]="['/home', 'operations', 'client-dma']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">trending_up</i>Daily Tasks
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'ad-campaign-dma']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">campaign</i>Ad Campaign Management
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'ad-campaign-report']" 
             *ngIf="roleService.hasRole([ 'DMA'])" 
             routerLinkActive="active">
            <i class="material-icons">analytics</i>Ad Campaign Report
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'operations', 'client-kt-documents']" 
          *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])"
             routerLinkActive="active">
            <i class="material-icons">description</i>KT Documents
          </a>
        </li>

        <li>
          <a [routerLink]="['/home', 'employees', 'AddComponent']" 
          *ngIf="roleService.hasRole([ 'HR'])"
             routerLinkActive="active">
            <i class="material-icons">person_add</i>Create Employee
          </a>
        </li>
      </ul>
      
      <!-- Logout Button -->
      <div class="logout-btn">
        <a routerLink="/login">
          <i class="material-icons">exit_to_app</i> Log Out
        </a>
      </div>
    </div>
  </nav>
  
</nav>

<!-- Mobile Menu -->
<div class="mobile-menu" [class.active]="isMobileMenuActive">
  <button class="close-btn" (click)="toggleMobileMenu()">×</button>
  <ul class="sidebar-list">
    <li *ngFor="let item of menuItems">
      <a [routerLink]="item.route" routerLinkActive="active">
        <i class="material-icons">{{ item.icon }}</i> {{ item.title }}
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'lead-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">supervised_user_circle</i> Lead Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'meet-management']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">event</i> Meet Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'meet-management-histoty']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">event</i> Meet History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'generate-quote']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">description</i> Quote Generation
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'sla-generation']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">receipt</i> SLA Generation
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'marketing', 'sales-converted']" *ngIf="roleService.hasRole(['Sales Lead', 'Sales Associate'])" routerLinkActive="active">
        <i class="material-icons">monetization_on</i> Sales Converted
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'clients-list']" *ngIf="roleService.hasRole(['Manager', 'Team Lead'])" routerLinkActive="active">
        <i class="material-icons">monetization_on</i>Clients
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'specialdays-view']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Special Days
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'content-writer-client']" *ngIf="roleService.hasRole([ 'Content Writer'])" routerLinkActive="active">
        <i class="material-icons">edit</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'poster-designer-client']" 
         *ngIf="roleService.hasRole([ 'Poster Designer'])" 
         routerLinkActive="active">
        <i class="material-icons">design_services</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'video-editor-client']" 
         *ngIf="roleService.hasRole(['Video Editor'])" 
         routerLinkActive="active">
        <i class="material-icons">movie_creation</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'photo-grapher-client']" 
         *ngIf="roleService.hasRole([ 'Videographer'])" 
         routerLinkActive="active">
        <i class="material-icons">videocam</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'photo-grapher-history']" 
         *ngIf="roleService.hasRole(['Videographer'])" 
         routerLinkActive="active">
        <i class="material-icons">history</i>Shoots History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'graphicreels-designer-client']" 
         *ngIf="roleService.hasRole([ 'Video Editor'])" 
         routerLinkActive="active">
        <i class="material-icons">movie_creation</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'client-dma']" 
         *ngIf="roleService.hasRole([ 'DMA'])" 
         routerLinkActive="active">
        <i class="material-icons">upload_file</i>Daily Tasks
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'ad-campaign-dma']" 
         *ngIf="roleService.hasRole([ 'DMA'])" 
         routerLinkActive="active">
        <i class="material-icons">upload_file</i>Ad Campaign Management
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'lead-approvals']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Approvals
      </a>
    </li>

    <li>
      <a [routerLink]="['/home', 'operations', 'lead-approvals-history']" 
         *ngIf="roleService.hasRole(['Manager','Team Lead'])" 
         routerLinkActive="active">
        <i class="material-icons">history</i>Approvals History
      </a>
    </li>
    <li>
      <a [routerLink]="['/home', 'operations', 'client-kt-documents']" 
      *ngIf="roleService.hasRole(['Manager','Team Lead','Content Writer'])"
         routerLinkActive="active">
        <i class="material-icons">description</i>KT Documents
      </a>
    </li>

    <li>
      <a [routerLink]="['/home', 'operations', 'content-writer-calender-export']" 
         *ngIf="roleService.hasRole(['Content Writer'])" 
         routerLinkActive="active">
        <i class="material-icons">event</i>Calendar Export
      </a>
    </li>
    <!-- <li class="dropdown" [class.active]="isDropdownActive['task']" (click)="toggleDropdown('task')">
      <a ><i class="material-icons">check_circle</i> Daily Status</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/home/leadmanagement" routerLinkActive="active">Task List</a></li>
      </ul>
    </li>
    <li class="dropdown" [class.active]="isDropdownActive['employee']" (click)="toggleDropdown('employee')">
      <a ><i class="material-icons">group</i> Employee</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/home/leadmanagement" routerLinkActive="active">Employee List</a></li>
      </ul>
    </li> -->
  </ul>
  <div class="logout-btn">
    <a routerLink="/login"><i class="material-icons">group</i>Log Out</a>
  </div>
</div>
