<mat-dialog-content>
  <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
    <span>Apply Leave</span>
  </mat-toolbar>
  <form [formGroup]="leaveForm">
    <div class="form-grid">
      <!-- Leave Type -->
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>Leave Type</mat-label>
        <mat-select formControlName="leaveType">
          <mat-option [value]=1>Sick Leave</mat-option>
          <mat-option [value]=2>Casual Leave</mat-option>
          <mat-option [value]=5>Unpaid Leave</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- From Date -->
<mat-form-field appearance="outline" class="grid-item">
  <mat-label>From Date</mat-label>
  <input matInput [matDatepicker]="fromPicker" formControlName="startDate"
         [min]="minDate"
         [matDatepickerFilter]="disableSundays" />
  <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
  <mat-datepicker #fromPicker></mat-datepicker>
</mat-form-field>

<!-- To Date -->
<mat-form-field appearance="outline" class="grid-item">
  <mat-label>To Date</mat-label>
  <input matInput [matDatepicker]="toPicker" formControlName="endDate"
         [min]="leaveForm.get('startDate')?.value || minDate"
         [matDatepickerFilter]="disableSundays" />
  <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
  <mat-datepicker #toPicker></mat-datepicker>
</mat-form-field>


      <!-- No of Days (Auto Calculated) -->
      <mat-form-field appearance="outline" class="grid-item">
        <mat-label>No of Days</mat-label>
        <input matInput type="number" formControlName="noOfDays" readonly />
      </mat-form-field>
    </div>

    <!-- Reason -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Reason</mat-label>
      <textarea matInput rows="2" formControlName="reason"></textarea>
    </mat-form-field>

    <!-- Actions -->
    <div class="actions">
      <button mat-button color="warn" (click)="close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</mat-dialog-content>
