<div  class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
<div class="meet-form-container">
  <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 15px;">
    <span>Edit Meet</span>
  </mat-toolbar>
  <form [formGroup]="meetForm" (ngSubmit)="onSubmit()">
    <!-- Row 1 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Name of the Lead</mat-label>
        <input matInput formControlName="leadName" readonly />
        <mat-error *ngIf="meetForm.get('leadName')?.hasError('required')">
          Lead name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status of the Meet</mat-label>
        <mat-select formControlName="meetingStatus">
          <mat-option value=2>Rescheduled</mat-option>
          <!-- <mat-option value=3>Tentative</mat-option> -->
          <mat-option value=3>Completed</mat-option>
        </mat-select>
        <mat-error *ngIf="meetForm.get('meetingStatus')?.hasError('required')">
          Meet status is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Status of the Lead</mat-label>
        <mat-select formControlName="statusOfLead" (selectionChange)="changeStatusValue($event)">
          <mat-option value=4>Positive</mat-option>
          <mat-option value=5>Neutral</mat-option>
          <mat-option value=2 *ngIf="meetForm.get('meetingStatus')?.value=='3'">Converted</mat-option>
          <mat-option value=3 *ngIf="meetForm.get('meetingStatus')?.value=='3'">Rejected</mat-option>
        </mat-select>
        <mat-error *ngIf="meetForm.get('statusOfLead')?.hasError('required')">
          Lead status is required.
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Row 4 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Requirement of Next Meet</mat-label>
        <mat-select formControlName="requireAnotherMeet">
          <mat-option [value]="1" >Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
        <mat-error *ngIf="meetForm.get('requireAnotherMeet')?.hasError('required')">
          Please specify if the next meet is required.
        </mat-error>
      </mat-form-field>
    </div>
    
    <div class="form-row" *ngIf="meetForm.get('requireAnotherMeet')?.value === 1">
      <mat-form-field appearance="outline">
        <mat-label>Next Meet Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDate"
          formControlName="nextMeetDate"
          placeholder="Select a date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="meetForm.get('nextMeetDate')?.hasError('required')">
          Next meet date is required.
        </mat-error>
      </mat-form-field>
      
     <!-- Next Meet Time -->
<mat-form-field appearance="outline">
  <mat-label>Next Meet Time</mat-label>
  <mat-select formControlName="nextMeetTime">
    <mat-option value="">Select Time</mat-option>
    <mat-option *ngFor="let time of startTimeOptions" [value]="time">
      {{ time }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="meetForm.get('nextMeetTime')?.hasError('required')">
    Please select a valid time.
  </mat-error>
</mat-form-field>
    </div>
    
   <!-- Row 2 -->
<div class="form-row">
  <mat-form-field appearance="outline">
    <mat-label>Travelling Duration (in min)</mat-label>
    <input matInput type="text" formControlName="travellingDuration" />
    <mat-error *ngIf="meetForm.get('travellingDuration')?.hasError('required')">
      Travelling duration is required.
    </mat-error>
    <mat-error *ngIf="meetForm.get('travellingDuration')?.hasError('pattern')">
      Travelling duration must be in a valid format (e.g., 250).
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Waiting Time Duration (in min)</mat-label>
    <input matInput type="text" formControlName="waitingTime" />
    <mat-error *ngIf="meetForm.get('waitingTime')?.hasError('required')">
      Waiting time is required.
    </mat-error>
    <mat-error *ngIf="meetForm.get('waitingTime')?.hasError('pattern')">
      Waiting time must be in a valid format (e.g., 130).
    </mat-error>
  </mat-form-field>

  <!-- Meeting Time -->
  <mat-form-field appearance="outline">
    <mat-label>Meeting Time Duration (in min)</mat-label>
    <input matInput type="text" formControlName="meetingTime" />
    <mat-error *ngIf="meetForm.get('meetingTime')?.hasError('required')">
      Meeting time duration is required.
    </mat-error>
    <mat-error *ngIf="meetForm.get('meetingTime')?.hasError('pattern')">
      Meeting time duration must be in a valid format (e.g., 1s30).
    </mat-error>
  </mat-form-field>
</div>


    <!-- Row 3 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Longitude</mat-label>
        <input matInput type="text" formControlName="longitude" />
        <mat-error *ngIf="meetForm.get('longitude')?.hasError('required')">
          Longitude is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Latitude</mat-label>
        <input matInput type="text" formControlName="latitude" />
        <mat-error *ngIf="meetForm.get('latitude')?.hasError('required')">
          Latitude is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Insight</mat-label>
        <textarea matInput formControlName="insight"></textarea>
        <mat-error *ngIf="meetForm.get('insight')?.hasError('maxlength')">
          Insight cannot exceed 500 characters.
        </mat-error>
      </mat-form-field>
     
    </div>
    <!-- Row 5 -->
    <div class="form-row">
      <div class="form-row file-upload-section">
        <div class="file-input-container">
          <label for="selfieInput" class="upload-label">
            <mat-icon>file_upload</mat-icon> Upload Selfie
          </label>
          <input
            type="file"
            id="selfieInput"
            (change)="onFileChange($event)"
            class="hidden-input"
          />
        </div>
      
        <div class="preview-container">
          <img
            *ngIf="uploadedImage"
            [src]="uploadedImage"
            alt="Selfie Preview"
            class="preview-image"
          />
          <p *ngIf="!uploadedImage" class="no-preview">No file selected</p>
        </div>
      </div>
      
    </div>

 <!-- Submit Button -->
<div class="submit-container">
  <button mat-raised-button color="primary" type="submit">Update</button>
  <button 
    mat-raised-button 
    color="accent" 
    type="button" 
    (click)="onCancel()">
    Cancel
  </button>
</div>

  </form>
</div>
