<div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  
  <div class="popup-container">
    <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
      <span>Add Emergency Request</span>
    </mat-toolbar>
  
    <form [formGroup]="emergencyRequestForm">
      <div class="form-grid">
         <mat-form-field appearance="outline" class="full-width" >
          <mat-label>Client</mat-label>
          <input
            type="text"
            matInput
            placeholder="Search Client"
            [(ngModel)]="selectedClientName"
            [matAutocomplete]="auto"
           
            (input)="filterClients($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onClientSelected($event)"
          >
            <mat-option
              *ngFor="let client of filteredClients"
              [value]="client.organizationName"
            >
              {{ client.organizationName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Post schedule date</mat-label>
        <input
        matInput
        formControlName="date"
        [matDatepicker]="picker"
        [min]="minDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

  
        <mat-form-field appearance="outline">
          <mat-label>Creative Type</mat-label>
          <mat-select formControlName="creativeTypeId">
            <mat-option *ngFor="let creative of creativeTypes" [value]="creative.id">
              {{ creative.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
    
        <mat-form-field appearance="outline">
            <mat-label>Emergency Type</mat-label>
            <mat-select formControlName="emergencyType">
              <mat-option *ngFor="let emergency of emergencyType" [value]="emergency.id">
                {{ emergency.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        <!-- <mat-form-field appearance="outline">
        <mat-label>Thumbnail Link</mat-label>
        <input matInput formControlName="thumbNail" />
        <mat-error *ngIf="emergencyRequestForm.get('thumbNail')?.invalid && emergencyRequestForm.get('thumbNail')?.touched">
        Invalid URL! Please enter a valid link.
        </mat-error>
        </mat-form-field> -->

        <!-- <mat-form-field appearance="outline">
        <mat-label>Editor Link</mat-label>
        <input matInput formControlName="editorLink" />
        <mat-error *ngIf="emergencyRequestForm.get('editorLink')?.hasError('required')">
            Video Link is required.
          </mat-error>
          <mat-error *ngIf="emergencyRequestForm.get('editorLink')?.hasError('pattern')">
            Please enter a valid URL (e.g., https://example.com).
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="content-field">
        <mat-label>Ref Link</mat-label>
          <textarea matInput formControlName="shootLink" ></textarea>
        <mat-error *ngIf="emergencyRequestForm.get('shootLink')?.invalid && emergencyRequestForm.get('shootLink')?.touched">
        Invalid URL! Please enter a valid link.
        </mat-error>
        </mat-form-field>

            <!-- inputForContentWriter Field -->
     
        <mat-form-field appearance="outline" class="content-field">
          <mat-label>Input For Content Writer</mat-label>
          <textarea matInput formControlName="cwInputsForVG" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('cwInputsForVG')?.hasError('required')">
            Input For Content Writer is required.
          </mat-error>
        </mat-form-field>

              <!-- inputForEditor -->
        <mat-form-field appearance="outline" class="content-field">
          <mat-label>Input for Editor</mat-label>
          <textarea matInput formControlName="cwInputsForVE" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('cwInputsForVE')?.hasError('required')">
          Input For Editor is required.
          </mat-error>
        </mat-form-field>

      </div>
    </form>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="sendForApproval()">Submit</button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
  </div>
  