<div class="popup-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="toolbar" style="border-radius: 10px;">
    <span>{{ isEdit ? 'Edit Ad Campaign' : 'Add Ad Campaign' }}</span>
  </mat-toolbar>
  <form [formGroup]="campaignForm" class="form-grid" (ngSubmit)="onSubmit()">
    <!-- Row 1 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="fromDatePicker" formControlName="fromDate" />
        <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="toDatePicker" formControlName="toDate" />
        <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Target Amount</mat-label>
        <!-- <input matInput type="number" formControlName="targetAmount" class="no-arrows" /> -->
        <input
        matInput
        formControlName="targetAmount"
        type="text"
        inputmode="decimal" step="any"
        pattern="^\d+(\.\d{1,2})?$"
      />
      </mat-form-field>
  
    
    </div>
  
    <!-- Row 2 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Platform</mat-label>
        <mat-select formControlName="platform">
          <mat-option *ngFor="let platform of platforms" [value]="platform.value">
            {{ platform.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Objective</mat-label>
        <mat-select formControlName="objective">
          <mat-option *ngFor="let objective of objectives" [value]="objective.value">
            {{ objective.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Result Type</mat-label>
        <mat-select formControlName="resultType">
          <mat-option *ngFor="let resultType of resultTypes" [value]="resultType.value">
            {{ resultType.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Amount Spent</mat-label>
        <!-- <input matInput type="number" formControlName="amountSpent" class="no-arrows" /> -->
        <input
        matInput
        formControlName="amountSpent"
        type="text"
        inputmode="decimal" step="any"
        pattern="^\d+(\.\d{1,2})?$"
      />
      </mat-form-field>
    </div>
  
    <!-- Row 3 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Result</mat-label>
        <!-- <input matInput type="number" formControlName="result" class="no-arrows" /> -->
        <input matInput type="text"
        [value]="formattedResult"
        (input)="onNumberInput($event, 'result')"
        (blur)="formatNumber('result')"
        inputmode="numeric"
        pattern="\d*"
      />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Cost Per Result</mat-label>
        <!-- <input matInput type="number" formControlName="costPerResult" class="no-arrows" /> -->
        <input
        matInput
        formControlName="costPerResult"
        type="text"
        inputmode="decimal" step="any"
        pattern="^\d+(\.\d{1,2})?$"
      />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Reach</mat-label>
        <!-- <input matInput type="number" formControlName="reach" class="no-arrows" /> -->
        <input matInput type="text"
        [value]="formattedReach"
        (input)="onNumberInput($event, 'reach')"
        (blur)="formatNumber('reach')"
        inputmode="numeric"
        pattern="\d*"
      />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Impressions</mat-label>
        <!-- <input matInput type="number" formControlName="impressions" class="no-arrows" /> -->
        <input matInput type="text"
        [value]="formattedImpressions"
        (input)="onNumberInput($event, 'impressions')"
        (blur)="formatNumber('impressions')"
        inputmode="numeric"
        pattern="\d*"
      />
      </mat-form-field>
    </div>
  
    <!-- Row 4 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Followers Before Campaign</mat-label>
        <!-- <input matInput type="number" formControlName="followersBeforeCampaign" class="no-arrows" /> -->
        <input matInput type="text"
        [value]="formattedFollowersBeforeCampaign"
        (input)="onNumberInput($event, 'followersBeforeCampaign')"
        (blur)="formatNumber('followersBeforeCampaign')"
        inputmode="numeric"
        pattern="\d*"
      />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Followers After Campaign</mat-label>
        <!-- <input matInput type="number" formControlName="followersAfterCampaign" class="no-arrows" /> -->
        <input matInput type="text"
        [value]="formattedFollowersAfterCampaign"
        (input)="onNumberInput($event, 'followersAfterCampaign')"
        (blur)="formatNumber('followersAfterCampaign')"
        inputmode="numeric"
        pattern="\d*"
      />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Campaign Completed</mat-label>
        <mat-select formControlName="isCampaignCompleted">
          <mat-option [value]="1">Completed</mat-option>
          <mat-option [value]="0">On Going</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Row 5 -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Campaign Link-1</mat-label>
        <input matInput formControlName="campaignLink1" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Campaign Link-2</mat-label>
        <input matInput formControlName="campaignLink2" />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Campaign Link-3</mat-label>
        <input matInput formControlName="campaignLink3" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Remarks</mat-label>
        <textarea matInput formControlName="remarks"></textarea>
      </mat-form-field>
    </div>
  
    <!-- Action Buttons -->
    <div class="action-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="campaignForm.invalid">
        {{ isEdit ? 'Update' : 'Submit' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
  
</div>
