<div class="content-writers-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button  (click)="goBack()" aria-label="Back">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{this.clientName}}</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" class="add-button" (click)="addNewEntry()">+ Add Emergency Request</button>
    </mat-toolbar>
  
  <!-- Filters Section -->
  <div [formGroup]="clientForm" class="filters-container">
    <mat-form-field appearance="outline">
      <input matInput formControlName="clientName" readonly placeholder="Client Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        placeholder="Select Month and Year"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="setMonthAndYear($event, picker)"   readonly
      ></mat-datepicker>
    </mat-form-field>
  </div>
   
   <!-- Table -->
   <table mat-table [dataSource]="contentData" class="mat-elevation-z8">
    <div  class="spinner" *ngIf="showSpinner">
      <mat-spinner></mat-spinner>
    </div>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Creative Type Column -->
    <ng-container matColumnDef="creativeType">
      <th mat-header-cell *matHeaderCellDef>Creative Type</th>
      <td mat-cell *matCellDef="let video">{{ video.creativeType }}</td>
    </ng-container>

    <ng-container matColumnDef="postScheduleOn">
      <th mat-header-cell *matHeaderCellDef>Post schedule date</th>
      <td mat-cell *matCellDef="let video">{{ video.postScheduleOn | date: 'dd-MM-yyyy'  }}</td>
    </ng-container>

      <!-- Shoot Link Column -->
      <ng-container matColumnDef="shootLink">
        <th mat-header-cell *matHeaderCellDef>Shoot Link</th>
        <td mat-cell *matCellDef="let video">
          <a *ngIf="video.shootLink" [href]="video.shootLink" target="_blank">View</a>
          <span *ngIf="!video.shootLink">N/A</span>
        </td>
      </ng-container>

      <!-- Editor Link Column -->
      <ng-container matColumnDef="editorLink">
        <th mat-header-cell *matHeaderCellDef>Editor Link</th>
        <td mat-cell *matCellDef="let video">
          <a *ngIf="video.editorLink" [href]="video.editorLink" target="_blank">View </a>
          <span *ngIf="!video.editorLink">N/A</span>
        </td>
      </ng-container>


    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let video">{{ video.title }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let video">
        <div *ngIf="video.description">
          {{ video.description | slice: 0:10 }}...
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="contentStatus">
      <th mat-header-cell *matHeaderCellDef>Content Status</th>
      <td mat-cell *matCellDef="let video">
        <mat-chip [ngClass]="getStatusClass(video.contentStatus)">
          {{ video.contentStatus }}
        </mat-chip>
      </td>
    </ng-container>
    <!-- Status Column -->
    <!-- <ng-container matColumnDef="approvalStatus">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let video">{{ video.status }}</td>
    </ng-container> -->

    <ng-container matColumnDef="approvalStatus">
      <th mat-header-cell *matHeaderCellDef>Editor Status</th>
      <td mat-cell *matCellDef="let video">
        <mat-chip [ngClass]="getStatusClass(video.status)">
          {{ video.status }}
        </mat-chip>
      </td>
    </ng-container>

    <!-- Remarks Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let video">{{ video.remarks }}</td>
    </ng-container>

    <!-- Thumbnail Column -->
    <ng-container matColumnDef="thumbNail">
      <th mat-header-cell *matHeaderCellDef>Thumbnail Link</th>
      <td mat-cell *matCellDef="let video">
        <a *ngIf="video.thumbNail" [href]="video.thumbNail" target="_blank">View </a>
        <span *ngIf="!video.thumbNail">N/A</span>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button 
        mat-button 
        color="accent" 
        (click)="openEditPopup(row)" 
        [disabled]="row.status === 'Approved' || row.status === 'Sent for client approval'">
        <mat-icon>edit</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="contentData.data.length === 0" class="no-data-message">
    <p>No Records Found...</p>
  </div>
    <!-- Paginator -->    <mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20,30]"></mat-paginator>
  </div>
  