<div class="content-writers-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="toolbar">
      <span>Video Editor Operations</span>
    </mat-toolbar>
  
    <!-- Filters Section -->
    <div class="filters-container">
      <!-- Client Autocomplete -->
      <mat-form-field appearance="outline" class="filter-field">
        <mat-label>Client</mat-label>
        <input
          type="text"
          matInput
          placeholder="Search Client"
          [(ngModel)]="searchClient"
          [matAutocomplete]="auto"
          (input)="filterClients()"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectClient($event.option.value)">
          <mat-option *ngFor="let client of filteredClients" [value]="client">{{ client }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
  
      <!-- Month and Year Picker -->
      <mat-form-field appearance="outline" class="month-picker-field">
        <mat-label>Month and Year</mat-label>
        <input
          matInput
          [matDatepicker]="dp"
          [formControl]="date"
          placeholder="MM/YYYY"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="custom-datepicker-panel"
        ></mat-datepicker>
      </mat-form-field>
    </div>
  
    <!-- Table -->
    <table mat-table [dataSource]="videos" class="mat-elevation-z8">
      <!-- Month Column -->
      <ng-container matColumnDef="month">
        <th mat-header-cell *matHeaderCellDef>Month</th>
        <td mat-cell *matCellDef="let video">{{ video.month }}</td>
      </ng-container>
  
      <!-- Client Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let video">{{ video.client }}</td>
      </ng-container>
  
      <!-- Video Type Column -->
      <ng-container matColumnDef="videoType">
        <th mat-header-cell *matHeaderCellDef>Video Type</th>
        <td mat-cell *matCellDef="let video">{{ video.videoType }}</td>
      </ng-container>
  
      <!-- Root Folder Column -->
      <ng-container matColumnDef="rootFolder">
        <th mat-header-cell *matHeaderCellDef>Root Folder</th>
        <td mat-cell *matCellDef="let video">
          <a [href]="video.rootFolder" target="_blank">Open Folder</a>
        </td>
      </ng-container>
  
      <!-- Video Link Column -->
      <ng-container matColumnDef="videoLink">
        <th mat-header-cell *matHeaderCellDef>Video Link</th>
        <td mat-cell *matCellDef="let video">
          <a [href]="video.videoLink" target="_blank">Watch</a>
        </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let video">{{ video.title }}</td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let video">{{ video.description }}</td>
      </ng-container>
  
      <!-- Approval Status Column -->
      <ng-container matColumnDef="approvalStatus">
        <th mat-header-cell *matHeaderCellDef>Approval Status</th>
        <td mat-cell *matCellDef="let video">
          <mat-select [(ngModel)]="video.approvalStatus" (selectionChange)="updateApproval(video)">
            <mat-option *ngFor="let status of approvalStatuses" [value]="status">{{ status }}</mat-option>
          </mat-select>
        </td>
      </ng-container>
  
      <!-- Remarks Column -->
      <ng-container matColumnDef="remarks">
        <th mat-header-cell *matHeaderCellDef>Remarks</th>
        <td mat-cell *matCellDef="let video">
          <textarea [(ngModel)]="video.remarks"></textarea>
        </td>
      </ng-container>
  
      <!-- Thumbnail Column -->
      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef>Thumbnail</th>
        <td mat-cell *matCellDef="let video">
          <img [src]="video.thumbnail" alt="Thumbnail" class="thumbnail-image" />
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  