<h2 mat-dialog-title>Update Status</h2>
<mat-dialog-content>
  <form [formGroup]="leadForm">
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value=1>Progressive</mat-option>
        <!-- <mat-option value=2>Converted</mat-option>  -->
         <!-- <mat-option value=3>Rejected</mat-option> -->
      </mat-select>
      <mat-error *ngIf="leadForm.get('status')?.hasError('required')">
        Status is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="updateStatus()"
    [disabled]="loading"
  >
    {{ loading ? 'Updating...' : 'Save' }}
  </button>
</mat-dialog-actions>
