<div class="content-writer-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="toolbar" style="border-radius: 10px;">
      <span>Content Writers Client List</span>
    </mat-toolbar>
  
    <!-- Filter Section -->
    <div class="filter-container">
    <!-- Filter by Client -->
    <!-- <mat-form-field appearance="outline">
      <mat-label>Filter by Client</mat-label>
      <input
        type="text"
        matInput
        placeholder="Search and select a client"
        [(ngModel)]="searchTerm"
        [matAutocomplete]="auto"
        (input)="filterSearch()"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="filterLeads($event.option.value)"
      >
        <mat-option *ngFor="let client of filteredClients" [value]="client.clientId">
          {{ client.organizationName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
      
      <mat-form-field appearance="outline">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" placeholder="MM/YYYY" readonly>
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      
      
      
    </div>
  
    <!-- Table -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
        <!-- Serial Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>
  
        <!-- Organization Name Column -->
        <ng-container matColumnDef="organizationName">
          <th mat-header-cell *matHeaderCellDef>Organization Name</th>
          <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
        </ng-container>
  
        <!-- City Column -->
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef>City</th>
          <td mat-cell *matCellDef="let element">{{ element.cityName }}</td>
        </ng-container>
  
        <!-- Category Column -->
      <ng-container matColumnDef="clientCategory">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ getCategoryLabel(element.clientCategory) }}</td>
      </ng-container>


          <!-- No Of Posters Column -->
          <ng-container matColumnDef="noOfPosters">
          <th mat-header-cell *matHeaderCellDef>No Of Posters</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfPosters }}</td>
        </ng-container>

        <ng-container matColumnDef="totContentApprovedCount">
          <th mat-header-cell *matHeaderCellDef>Approved Posters</th>
          <td mat-cell *matCellDef="let element">{{ element.totContentApprovedCount }}</td>
        </ng-container>

        <!-- Reels (%) Column -->
        <ng-container matColumnDef="percentOfPosters">
          <th mat-header-cell *matHeaderCellDef>Posters (%)</th>
          <td mat-cell *matCellDef="let element">{{ element.percentOfPosters }}</td>
        </ng-container>

        <!-- No Of Reels Column -->
        <ng-container matColumnDef="noOfReels">
          <th mat-header-cell *matHeaderCellDef>No Of Reels</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfReels }}</td>
        </ng-container>
  
        <ng-container matColumnDef="totGraphicApprovedCount">
          <th mat-header-cell *matHeaderCellDef>Approved Graphic Reels</th>
          <td mat-cell *matCellDef="let element">{{ element.totGraphicApprovedCount }}</td>
        </ng-container>

        <!-- Reels (%) Column -->
        <ng-container matColumnDef="percentOfGraphicReels">
          <th mat-header-cell *matHeaderCellDef>Graphic Reels (%)</th>
          <td mat-cell *matCellDef="let element">{{ element.percentOfGraphicReels }}</td>
        </ng-container>
  
        <!-- No Of Graphic Reels Column -->
        <ng-container matColumnDef="noOfGraphicReels">
          <th mat-header-cell *matHeaderCellDef>No Of Graphic Reels</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfGraphicReels }}</td>
        </ng-container>
  
        <!-- Graphic Reels (%) Column -->
        <ng-container matColumnDef="graphicReelsPer">
          <th mat-header-cell *matHeaderCellDef>Graphic Reels (%)</th>
          <td mat-cell *matCellDef="let element">{{ element.graphicReelsPer }}</td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="editRow(element.clientId)">Edit</button>
          </td>
        </ng-container>
  
        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <!-- Paginator -->
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
  