<h1 mat-dialog-title class="dialog-title">Update Design</h1>
<div mat-dialog-content class="dialog-content" style="padding-top: 20px;">
  <!-- Update Design Link Field -->
  <mat-form-field appearance="outline" class="dialog-field">
    <mat-label>Update Design Link</mat-label>
    <input matInput [(ngModel)]="data.link" placeholder="Enter Design Link" />
  </mat-form-field>

  <!-- Caption Field -->
  <!-- <mat-form-field appearance="outline" class="dialog-field">
    <mat-label>Caption</mat-label>
    <input matInput [(ngModel)]="data.caption" placeholder="Enter Caption" />
  </mat-form-field> -->
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="accent"  (click)="onSave('draft')">Save Draft</button>
  <button mat-raised-button color="primary" (click)="onSave('approval')">Send To Approval</button>
</div>
