.container {
    padding-left: 140px;
    margin: auto;
  }
  
  h2 {
    color: #3f51b5;
  }
  
  mat-form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-chip {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .paid {
    background-color: #4caf50; /* Green */
    color: white;
    font-weight: bold;
  }
  
  .pending {
    background-color: #f44336; /* Red */
    color: white;
    font-weight: bold;
  }
  
  .gst {
    background-color: #2196f3; /* Blue */
    color: white;
    font-weight: bold;
  }
  
  .non-gst {
    background-color: #ff9800; /* Orange */
    color: white;
    font-weight: bold;
  }
  
  button {
    margin-right: 10px;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
    }
  }
  mat-toolbar {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .no-data-message {
    display: flex; /* Center alignment */
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 200px; /* Adjust height for alignment */
    color: #ff5722; /* Add a custom color (e.g., orange-red) */
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    background-color: #f9f9f9; /* Optional: Light background for contrast */
    border: 1px solid #ddd; /* Optional: Add a subtle border */
    border-radius: 8px; /* Optional: Rounded corners */
  }
  th {
    background: #333;
    color: orange;
    text-align: left;
    padding: 8px;
  }