<div class="container">
  <mat-toolbar color="primary" style="border-radius: 10px;">
    <span>Payment Collection</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="Invoices()">
      <mat-icon>add</mat-icon>Generate Invoices
    </button>
  </mat-toolbar>


   <!-- Loader -->
   <div class="loader-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
        <!-- Total Expense Display -->
        <div class="summary-cards">
          <mat-card class="summary-card total">
            <div class="icon"><mat-icon>attach_money</mat-icon></div>
            <div class="info">
              <h3>Amount to be Received </h3>
              <p>{{ getFormattedTotalExpense() }}</p>
            </div>
          </mat-card>
        
          <mat-card class="summary-card paid">
            <div class="icon"><mat-icon>check_circle</mat-icon></div>
            <div class="info">
              <h3>Amount Received</h3>
              <p>{{ getFormattedTotalPaidAmount() }}</p>
            </div>
          </mat-card>
        
          <mat-card class="summary-card pending">
            <div class="icon"><mat-icon>hourglass_empty</mat-icon></div>
            <div class="info">
              <h3>Balance Pending</h3>
              <p>{{ getFormattedTotalPendingAmount() }}</p>
            </div>
          </mat-card>
        </div>
        
  <!-- Payment Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Client Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <span>Client</span>
          <button mat-icon-button (click)="toggleFilterVisibility('client')" style="margin-left: 8px;">
            <mat-icon *ngIf="!filterVisibility['client']">filter_list</mat-icon>
            <mat-icon *ngIf="filterVisibility['client']">close</mat-icon>
          </button>
        </div>
        <div *ngIf="filterVisibility['client']" class="filter-input">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Filter Client</mat-label>
            <input matInput (keyup)="applyFilter($event, 'client')" placeholder="Search Client" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.client }}</td>
    </ng-container>
    

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount to be Collected</th>
      <td mat-cell *matCellDef="let payment">₹{{ payment.amount }}</td>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef>Due Date</th>
      <td mat-cell *matCellDef="let payment">{{ payment.dueDate }}</td>
    </ng-container>

     <!-- Payment Status Column -->
     <ng-container matColumnDef="paymentStatus">
      <th mat-header-cell *matHeaderCellDef>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <span>Payment Status</span>
        <button mat-icon-button (click)="toggleFilterVisibility('paymentStatus')" style="margin-left: 8px;">
          <mat-icon *ngIf="!filterVisibility['paymentStatus']">filter_list</mat-icon>
          <mat-icon *ngIf="filterVisibility['paymentStatus']">close</mat-icon>
        </button>
      </div>
        <div *ngIf="filterVisibility['paymentStatus']" class="filter-input">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Filter Status</mat-label>
            <input matInput (keyup)="applyFilter($event, 'paymentStatus')" placeholder="Search Status" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.paymentStatus }}</td>
    </ng-container>

    <ng-container matColumnDef="paymentMode">
      <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
      <td mat-cell *matCellDef="let payment">{{ payment.paymentMode }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>
        <div style="display: flex; justify-content: space-between; align-items: center;">
        <span> Invoices Type</span>
        <button mat-icon-button (click)="toggleFilterVisibility('type')">
          <mat-icon *ngIf="!filterVisibility['type']">filter_list</mat-icon>
          <mat-icon *ngIf="filterVisibility['type']">close</mat-icon>
        </button>
        </div>
        <div *ngIf="filterVisibility['type']" class="filter-input">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Filter Type</mat-label>
            <input matInput (keyup)="applyFilter($event, 'type')" placeholder="Search Type" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let payment">{{ payment.type }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let payment">
        <button mat-icon-button color="primary" (click)="editDetails(payment.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.data.length === 0" class="no-data-message">
    <p>No Records Found...</p>
  </div>
        <!-- Paginator -->
        <mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20, 30]"></mat-paginator>
</div>