<div  class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>
<div class="sla-form-container">
  <mat-toolbar color="primary" class="toolbar">
    <span>SLA Generation</span>
  </mat-toolbar>

  <form [formGroup]="slaForm" (ngSubmit)="onSubmit()" class="sla-form">
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Name of the Organization</mat-label>
        <input matInput formControlName="leadName" />
        <mat-error *ngIf="slaForm.get('leadName')?.hasError('required')">
          Name of Organization is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Domain of the Organization</mat-label>
        <input matInput formControlName="organizationDomain" />
        <mat-error *ngIf="slaForm.get('organizationDomain')?.hasError('required')">
          Domain is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- New Client Name and Designation Fields -->
    <div class="form-row">
      <mat-form-field appearance="outline" aria-readonly="true">
        <mat-label>Name of Signing Authority</mat-label>
        <input matInput formControlName="clientName" />
        <mat-error *ngIf="slaForm.get('clientName')?.hasError('required')">
          Name of Signing Authority is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="designation" />
        <mat-error *ngIf="slaForm.get('designation')?.hasError('required')">
          Designation is required.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>Payment Date</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="paymentDuedate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- Address Fields -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>SLA Generation Date</mat-label>
        <input matInput [matDatepicker]="picker1"  formControlName="slaGenerateDate" />
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error *ngIf="slaForm.get('city')?.hasError('required')">
          City is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="slaForm.get('address')?.hasError('required')">
          Address is required.
        </mat-error>
      </mat-form-field>
    </div>

    <h2>Platforms</h2>
    <div class="form-row platforms">
      <mat-checkbox formControlName="facebook">Facebook</mat-checkbox>
      <mat-checkbox formControlName="instagram">Instagram</mat-checkbox>
      <mat-checkbox formControlName="linkedin">LinkedIn</mat-checkbox>
      <mat-checkbox formControlName="youtube">YouTube</mat-checkbox>
      <mat-checkbox formControlName="google">Google My Business</mat-checkbox>
      <mat-checkbox formControlName="others">Others</mat-checkbox>
         <!-- Textbox for 'Others' -->
    <mat-form-field appearance="outline" *ngIf="slaForm.get('others')?.value">
      <mat-label>Specify Other Platforms</mat-label>
      <input matInput formControlName="otherPlatforms" />
    </mat-form-field>

    </div>

    <h2>Package</h2>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Base Package Amount</mat-label>
        <input matInput formControlName="basePackage" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>No. of Posters</mat-label>
        <input matInput formControlName="posterDesigns" />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="slaForm.get('youtube')?.value == true">
        <mat-label>No. of YouTube Videos</mat-label>
        <input matInput formControlName="youtubeVideos" />
        <mat-error *ngIf="slaForm.get('youtubeVideos')?.value == 0">
          Please select a status.
        </mat-error>
      </mat-form-field>

    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Graphic Reels</mat-label>
        <input matInput formControlName="graphicReel" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>General Educational Reels</mat-label>
        <input matInput formControlName="educationalReel" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Add Budget</mat-label>
        <input matInput formControlName="addBudget" />
      </mat-form-field>
    
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Shoot Offer</mat-label>
        <mat-select formControlName="shootOffer">
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="slaForm.get('shootOffer')?.value === 1">
        <mat-label>Shoot Budget</mat-label>
        <mat-select formControlName="shootBudget">
          <mat-option [value]="1">Yes</mat-option>
          <mat-option [value]="0">No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="slaForm.get('shootBudget')?.value === 1">
        <mat-label>Charge Per Visit</mat-label>
        <input matInput formControlName="chargePerVisit" />
      </mat-form-field>
 
    </div>

    

 
    <div class="submit-button-container d-flex justify-content-center gap-3">
      <button mat-raised-button color="primary" type="submit">Submit & Generate SLA</button>
      <button mat-raised-button color="primary" type="button" (click)="redirect()">Back</button>
    </div>
  </form>
</div>

<button type="button" style="display: none;" #modalButton id="ModalButton" data-bs-toggle="modal" data-bs-target="#success">demo
</button>

<!-- Modal -->
<div class="modal fade" id="success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center gap-3">
          <b>Client added successfully!</b>
        </div>
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="redirect()">OK</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="generateSLA()">Generate SLA</button>
        </div>
      </div>
    </div>
  </div>
</div>
