<mat-dialog-content>
    <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
        <span>Update Leave Status</span>
      </mat-toolbar>
    <form>
      <div class="row">
        <!-- Employee Name -->
        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Employee Name</mat-label>
          <input matInput placeholder="Enter Employee Name" [(ngModel)]="employeeName" name="employeeName" />
        </mat-form-field>
  
        <!-- Leave Type -->
        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Leave Type</mat-label>
          <input matInput placeholder="Enter Leave Type" [(ngModel)]="leaveType" name="leaveType" />
        </mat-form-field>
  
   
      </div>
      <div class="row">
             <!-- Start Date -->
             <mat-form-field appearance="outline" class="third-width">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" name="startDate" />
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
                 <!-- End Date -->
        <mat-form-field appearance="outline" class="third-width">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" name="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
    
      </div>
      <div class="row">
        <!-- Status Dropdown -->
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="status" name="status">
            <mat-option value="approved">Approved</mat-option>
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="rejected">Rejected</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        <div class="row">
        <!-- Remarks -->
        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Remarks</mat-label>
          <textarea matInput placeholder="Add remarks" [(ngModel)]="remarks" name="remarks"></textarea>
        </mat-form-field>
      </div>
  
      <!-- Action Buttons -->
      <div class="actions">
        <button mat-button mat-dialog-close color="warn">Cancel</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
    </form>
  </mat-dialog-content>
  