<div class="photographer-history-container">
        <!-- Toolbar -->
        <mat-toolbar color="primary" class="toolbar" style="border-radius: 10px;">
            <span>Shoots History</span>
            </mat-toolbar>
    <!-- Filter Section -->
    <div class="filter-container" style="padding-top: 10px;">
      <mat-form-field appearance="outline" class="month-year-picker">
        <mat-label>Select Month and Year</mat-label>
        <input 
          matInput 
          [matDatepicker]="monthPicker" 
          [formControl]="date" 
          placeholder="MM/YYYY" 
          readonly 
        />
        <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker 
          #monthPicker 
          startView="multi-year" 
          (monthSelected)="onMonthSelected($event, monthPicker)" 
          panelClass="month-picker-panel">
        </mat-datepicker>
      </mat-form-field>
    </div>
  
    <!-- Table Section -->
    <div class="table-container">
      <div  class="spinner" *ngIf="showSpinner">
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> S.No </th>
            <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
          </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.date | date: 'dd-MM-yyyy'}}</td>
        </ng-container>
  
        <ng-container matColumnDef="organizationName">
          <th mat-header-cell *matHeaderCellDef>Organization</th>
          <td mat-cell *matCellDef="let element">{{ element.organizationName }}</td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>City</th>
          <td mat-cell *matCellDef="let element">{{ element.cityName }}</td>
        </ng-container>

        <ng-container matColumnDef="clientCategory">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let row">{{ row.clientCategory }}</td>
        </ng-container>
        
        <ng-container matColumnDef="rqenoOfYouTubeVideos">
          <th mat-header-cell *matHeaderCellDef>Required YT Videos</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfYouTubeVideos }}</td>
        </ng-container>
  
        <ng-container matColumnDef="rqenoOfEducationalReels">
          <th mat-header-cell *matHeaderCellDef>Required GED Reels</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfEducationalReels }}</td>
        </ng-container>
  
        <ng-container matColumnDef="noOfYouTubeVideos">
          <th mat-header-cell *matHeaderCellDef>YT Videos Shoot</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfYTVideos }}</td>
        </ng-container>
  
        <ng-container matColumnDef="noOfEducationalReels">
          <th mat-header-cell *matHeaderCellDef>GED Reels Shoot</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfEDReels }}</td>
        </ng-container>
  
        <ng-container matColumnDef="shootLink">
          <th mat-header-cell *matHeaderCellDef>Shoot Link</th>
          <td mat-cell *matCellDef="let element">
            <a [href]="element.shootLink" target="_blank">View</a>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remarks</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
         <!-- Paginator -->
         <mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20,30]"></mat-paginator>
  </div>
  