<div class="container">
  <mat-toolbar color="primary" style="border-radius: 10px;">
    <span>Additional Services</span>
  <span class="spacer"></span>
        <button mat-raised-button color="accent" (click)="addGST()"> 
          <i class="material-icons">add</i> Additional Services
        </button>
       
  </mat-toolbar>


   <!-- Loader -->
   <div class="loader-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
    
        
<!-- Payment Table -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
   <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
 </ng-container>
 <!-- Client Column -->
  <ng-container matColumnDef="Client">
    <th mat-header-cell *matHeaderCellDef>Client</th>
    <td mat-cell *matCellDef="let row">{{ row.client }}</td>
  </ng-container>
  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Service Date</th>
    <td mat-cell *matCellDef="let row">{{ row.date }}</td>
  </ng-container>

  <!-- Service Column -->
  <ng-container matColumnDef="service">
    <th mat-header-cell *matHeaderCellDef>Service Opted</th>
    <td mat-cell *matCellDef="let row">{{ row.service }}</td>
  </ng-container>

  <!-- Amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let row">₹{{ row.amount }}</td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let row">{{ row.type }}</td>
  </ng-container>

  <!-- Payment Column -->
  <ng-container matColumnDef="payment">
    <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
    <td mat-cell *matCellDef="let row">{{ row.payment }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- No Data Message -->
<div *ngIf="dataSource.data.length === 0 && !isLoading" class="no-data-message">
  <p>No Records Found...</p>
</div>

<!-- Paginator -->
<mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20, 30]"></mat-paginator>

</div>