.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  padding-left: 140px;
}

.metrics-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.metrics-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.metric-card {
  flex: 1;
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  min-width: 220px;
  transition: transform 0.2s ease-in-out;
}

.metric-card:hover {
  transform: scale(1.05);
}

.metric-card.group {
  background-color: #3f51b5;
}

.metric-card.camera_alt {
  background-color: #4caf50;
}

.metric-card.check_circle {
  background-color: #009688;
}

.metric-card.videocam {
  background-color: #ff5722;
}

.metric-card.play_circle_filled {
  background-color: #ff9800;
}

.metric-card.movie {
  background-color: #673ab7;
}

.metric-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.metric-info {
  margin-left: 16px;
  text-align: left;
}

.metric-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.metric-card h3 {
  margin: 5px 0 0 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* Filters */
.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-field {
  width: 220px;
}

/* Table */
.table-card {
  margin-top: 20px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Icons */
.mat-card-title {
  font-weight: bold;
  font-size: 18px;
}

.table-card .table-icon {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 18px;
  color: orangered;
}

.mat-icon.default-icon {
  font-size: 24px !important;
  color: white;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .dashboard-container {
    padding-left: 20px;
  }

  .metrics-container {
    flex-direction: column;
    align-items: center;
  }

  .metrics-row {
    flex-direction: column;
  }

  .metric-card {
    width: 100%;
    max-width: 300px;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  th, td {
    font-size: 14px;
    padding: 8px;
  }

  .table-card {
    padding: 12px;
  }
}
