<div class="dashboard-container">
  <!-- Date Filters -->
  <div class="filters-container">
    <mat-form-field appearance="outline">
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="fromDate" [(ngModel)]="fromDateValue">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>To Date</mat-label>
      <input matInput [matDatepicker]="toDate" [(ngModel)]="toDateValue">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="applyDateFilter()">Apply Filter</button>
  </div>
  <div  class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <!-- Deliverable Status -->
  <mat-card class="status-section">
    <mat-card-header class="card-header">
      <mat-card-title>Deliverable Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="filteredDeliverables" class="mat-table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">description</mat-icon> Deliverable 
          </th>
          <td mat-cell *matCellDef="let item">
        
          {{ item.name }}
        </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon">description</mat-icon> Total
          </th>
          <td mat-cell *matCellDef="let item">
            {{ item.noOfPendingPosts + item.noOfPromotedPosts + item.noOfFailedPosts }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noOfPendingPosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="primary">hourglass_empty</mat-icon> Pending
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="editRow(item)"  class="number-button">
              {{ item.noOfPendingPosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfPendingPosts === 0"  class="number-text" >{{ item.noOfPendingPosts }}</span> -->
          </td>
        </ng-container>
        
        <ng-container matColumnDef="noOfPromotedPosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> Promoted
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="editRownew(item)"  class="number-button">
              {{ item.noOfPromotedPosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfPromotedPosts === 0"  class="number-text" >{{ item.noOfPromotedPosts }}</span> -->
          </td>
        </ng-container>
        
        <ng-container matColumnDef="noOfOnTimePosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> On Time 
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="OnTime(item)"  class="number-button">
              {{ item.noOfOnTimePosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfOnTimePosts === 0"  class="number-text">{{ item.noOfOnTimePosts }}</span> -->
          </td>
        </ng-container>
   
        <ng-container matColumnDef="noOfEarlyPosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> Early
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="early(item)" class="number-button">
              {{ item.noOfEarlyPosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfEarlyPosts === 0" class="number-text" >{{ item.noOfEarlyPosts }}</span> -->
          </td>
        </ng-container>
  
        <ng-container matColumnDef="noOfLatePosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> Late
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary" (click)="Late(item)" class="number-button">
              {{ item.noOfLatePosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfLatePosts === 0"  class="number-text" >{{ item.noOfLatePosts }}</span> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="noOfRejectedPosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> Client Rejected
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary"  (click)="Rejected(item)"  class="number-button">
              {{ item.noOfRejectedPosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfRejectedPosts === 0"  class="number-text" >{{ item.noOfRejectedPosts }}</span> -->
          </td>
        </ng-container>

             <ng-container matColumnDef="noOfFailedPosts">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon class="header-icon" color="accent">check_circle</mat-icon> Failed Posts
          </th>
          <td mat-cell *matCellDef="let item">
            <button mat-icon-button color="primary"  (click)="Failed(item)"  class="number-button">
              {{ item.noOfFailedPosts || 0}}
            </button>
            <!-- <span *ngIf="item.noOfRejectedPosts === 0"  class="number-text" >{{ item.noOfRejectedPosts }}</span> -->
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="deliverablesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: deliverablesColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>

  <!-- Approval Status -->
  <mat-card class="approval-status-section">
    <mat-card-header class="card-header">
      <mat-card-title>Approval Status</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="filteredApprovalStatus" class="mat-table">
        <ng-container matColumnDef="empName">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">person</mat-icon> Team Member 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.empName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">work</mat-icon> Role 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.roleName }}</td>
        </ng-container>
  
        <ng-container matColumnDef="sentForApprovalCount">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">send</mat-icon> Sent for Approval 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.sentForApprovalCount }}</td>
        </ng-container>
  
        <ng-container matColumnDef="approvedCount">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">thumb_up</mat-icon> Approved 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.approvedCount }}</td>
        </ng-container>
  
        <ng-container matColumnDef="pendingApprovalCount">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">pending</mat-icon> Pending Approval 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.pendingApprovalCount }}</td>
        </ng-container>
  
        <ng-container matColumnDef="changesRecommenedCount">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">edit</mat-icon> Changes Recommended 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.changesRecommenedCount }}</td>
        </ng-container>
  
        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef> 
            <mat-icon class="header-icon">supervisor_account</mat-icon> Lead 
          </th>
          <td mat-cell *matCellDef="let row">{{ row.manager }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
  
  <!-- Data Stats Section -->
<mat-card class="data-section">
  <mat-card-header class="card-header">
    <mat-card-title>Data</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding-top: 10px;">
    <div class="data-grid">
      <mat-card
        *ngFor="let stat of dataStats"
        class="data-card"
        [ngStyle]="{ 'background-color': getStatColor(stat.label) }"
      >
        <mat-card-header class="data-card-header">
          <mat-card-title>{{ stat.label }}</mat-card-title>
          <mat-icon class="stat-icon">{{ getStatIcon(stat.label) }}</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <button mat-icon-button color="white" (click)="getRow(stat)">
            <div>{{ stat.value }}</div>
          </button>
          <!-- <div>{{ stat.value }}</div> -->
        </mat-card-content>
       
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

</div>
