<div class="popup-container">
    <!-- <h2>Edit Status for {{ data.role }}</h2> -->
      <!-- Toolbar -->
      <mat-toolbar color="primary" class="toolbar" style="border-radius: 10px;">
        <span>Edit Status for {{ data.role }}</span>
      </mat-toolbar>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="form-row" *ngIf="data.role=='Content Writer'">
        <mat-form-field appearance="outline" class="content-field">
          <mat-label>Content In Post</mat-label>
          <textarea matInput formControlName="contentInPost" readonly></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="content-field">
          <mat-label>Caption</mat-label>
          <textarea matInput formControlName="contentCaption" readonly></textarea>
        </mat-form-field>
      </div>
      <div class="form-row">
        <!-- Status Dropdown -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" (selectionChange)="onStatusChange($event.value)">
            <mat-option *ngFor="let option of statusOptions" [value]="option.value">
              {{ option.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-row" *ngIf="editForm.get('status')?.value === 4">
        <!-- Remarks Input -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Remarks</mat-label>
          <textarea matInput formControlName="remarks"></textarea>
        </mat-form-field>
      </div>
  
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">Submit</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  