/* additional-task-view.component.css */
.container {
    padding-left: 20px;
    margin: auto;
  }
.mat-toolbar {
margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}
.loader-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.spacer {
  flex: 1 1 auto;
}
.table {
  width: 100%;
}
 th {
    background-color: #4a4a4a;
    color: orange;
    font-weight: bold;
  }
.header-icon {
  vertical-align: middle;
  margin-right: 6px;
  font-size: 18px;
  color: #555;
}
/* General Chip Styling */
 mat-chip {
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
  text-transform: capitalize;
}

/* Status-Based Colors */
.status-yet-to-start {
  background-color: #ff9800 !important; /* Orange */
  color: white !important;
}
.status-lead-approval-completed {
  background-color: rgb(246, 41, 150) !important; 
  color: white !important;
}
.status-draft-saved {
  background-color: #9e9e9e !important; /* Grey */
  color: white !important;
}

.status-sent-for-approval {
  background-color: #2196f3 !important; /* Blue */
  color: white !important;
}

.status-changes-recommended {
  background-color: orangered !important; /* orangered */
  color: white !important;
}

.status-approved {
  background-color: #4caf50 !important; /* Green */
  color: white !important;
}

.status-sent-for-client-approval {
  background-color: #673ab7 !important; /* Purple */
  color: white !important;
}

.status-unknown-status {
  background-color: #f44336 !important; /* Red */
  color: white !important;
}

/* Styling for the truncated cell */
.truncated-cell {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit content to 1 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Do not wrap */
  cursor: pointer;
}

.truncated-cell:hover {
  text-decoration: underline; /* Indicate clickable text */
  color: blue; /* Optional: Highlight on hover */
}
