<div class="content-writers-container">
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button  (click)="goBack()" aria-label="Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{this.clientName}}</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" class="add-button" (click)="addNewEntry()">+ Add Emergency Request</button>
  </mat-toolbar>
  


  <!-- Filter Section -->
  <div [formGroup]="clientForm" class="filters-container">
    <mat-form-field appearance="outline">
      <mat-label>Organization Name</mat-label>
      <input matInput formControlName="clientName" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="date"
        placeholder="Select Month and Year"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        (monthSelected)="setMonthAndYear($event, picker)"
        readonly
      ></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="accent" class="add-button" (click)="forecast()">Generate Forecast</button>
  </div>
  <!-- Loader -->
  <div class="loader-container" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <!-- Dashboard Cards -->
  <h2 *ngIf="!isLoading">Monthly Deliverables</h2>
  <div *ngIf="!isLoading" class="metric-buttons">
    <button mat-raised-button class="metric-button branding-posters">
      <mat-icon>auto_graph</mat-icon>
      <span>Branding Posters: {{ brandingPosterCount }}</span>
    </button>
    <button mat-raised-button class="metric-button branding-reels">
      <mat-icon>auto_graph</mat-icon>
      <span>Branding Reels: {{ brandingReelCount }}</span>
    </button>
    <button mat-raised-button class="metric-button educational-posters">
      <mat-icon>school</mat-icon>
      <span>Educational Posters: {{ educationalPosterCount }}</span>
    </button>
    <button mat-raised-button class="metric-button educational-reels">
      <mat-icon>school</mat-icon>
      <span>Educational Reels: {{ educationalReelCount }}</span>
    </button>
    <button mat-raised-button class="metric-button meme-posters">
      <mat-icon>mood</mat-icon>
      <span>Meme Posters: {{ memePosterCount }}</span>
    </button>
    <button mat-raised-button class="metric-button meme-reels">
      <mat-icon>play_circle</mat-icon>
      <span>Meme Reels: {{ memeReelCount }}</span>
    </button>
    <button mat-raised-button class="metric-button total-posters">
      <mat-icon>insert_drive_file</mat-icon>
      <span>Total Posters: {{ totalPosters }}</span>
    </button>
    <button mat-raised-button class="metric-button total-reels">
      <mat-icon>movie_creation</mat-icon>
      <span>Total Reels: {{ totalReels }}</span>
    </button>
  </div>

  <!-- Table -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
    </ng-container>
     <!-- Reported Date Column -->
     <ng-container matColumnDef="postScheduleOn">
      <th mat-header-cell *matHeaderCellDef> Post Schedule Date </th>
      <td mat-cell *matCellDef="let row"> {{ row.postScheduleOn | date: 'dd-MM-yyyy' }} </td>
    </ng-container>
    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef (click)="toggleFilter('speciality', $event)">
        Speciality
        <div *ngIf="activeFilter === 'speciality'" class="column-filter-container">
          <mat-form-field class="column-filter">
            <input matInput [formControl]="specialityFilter" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.speciality }}</td>
    </ng-container>
    
    <ng-container matColumnDef="promotionType">
      <th mat-header-cell *matHeaderCellDef (click)="toggleFilter('promotionType', $event)">
        Promotion Type
        <div *ngIf="activeFilter === 'promotionType'" class="column-filter-container">
          <mat-form-field class="column-filter">
            <input matInput [formControl]="promotionTypeFilter" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.promotionType }}</td>
    </ng-container>
    

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef (click)="toggleFilter('language', $event)">
        Language
        <div *ngIf="activeFilter === 'language'" class="column-filter-container">
          <mat-form-field class="column-filter">
            <input matInput [formControl]="languageFilter" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.language }}</td>
    </ng-container>

    <!-- Creative Type Column -->
    <ng-container matColumnDef="creativeType">
      <th mat-header-cell *matHeaderCellDef (click)="toggleFilter('creativeType', $event)">
        Creative Type
        <div *ngIf="activeFilter === 'creativeType'" class="column-filter-container">
          <mat-form-field class="column-filter">
            <input matInput [formControl]="creativeTypeFilter" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.creativeType }}</td>
    </ng-container>

    <!-- Approval Column -->
    <ng-container matColumnDef="contentStatus">
      <th mat-header-cell *matHeaderCellDef (click)="toggleFilter('contentStatus', $event)">
        Status
        <div *ngIf="activeFilter === 'contentStatus'" class="column-filter-container">
          <mat-form-field class="column-filter">
            <input matInput [formControl]="contentStatusFilter" placeholder="Filter" />
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip [ngClass]="getStatusClass(element.contentStatus)">
          {{ getStatusText(element.contentStatus) }}
        </mat-chip>
      </td>
    </ng-container>
    

    <!-- Remarks Column -->
    <ng-container matColumnDef="remarks">
      <th mat-header-cell *matHeaderCellDef>Remarks</th>
      <td mat-cell *matCellDef="let element">{{ element.contentRemarks }}</td>
    </ng-container>

    <!-- Action Column  [disabled]="element.contentStatus === 'Approved'" -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="onEdit(element)" >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.data.length === 0" class="no-data-message">
    <p>No Records Found...</p>
  </div>
  <!-- Paginator -->
  <mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20, 30]"></mat-paginator>
</div>
