.progress-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-toolbar {
  border-radius: 10px;
}

.section {
  margin-bottom: 0px;
}

.form-row {
  display: flex;
  gap: 10px;
  padding:10px;
  flex-wrap: wrap;
  /* margin-bottom: 15px; */
}

.form-row mat-form-field {
  flex: 1;
  min-width: 200px;
}

.progress-steps {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.step {
  text-align: center;
  margin-right: 20px;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 auto 10px auto;
}

.circle.completed {
  background-color: #4caf50;
}

/* Centering the submit button */
.submit-section {
  text-align: center;
  margin-top: 20px; /* Add spacing above the button */
}

.submit-section button {
  min-width: 150px; /* Optional: Set a minimum width for the button */
}