<div class="form-container">
    <!-- Toolbar -->
    <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
      <span>Present Client</span>
    </mat-toolbar>
  
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!-- General Section -->
      <h3>General</h3>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Name of the Client</mat-label>
          <input matInput formControlName="clientName" />
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Deal Closing Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dealClosingDate" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Domain</mat-label>
          <input matInput formControlName="domain" />
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option [value]="1">A</mat-option>
            <mat-option [value]="2">B</mat-option>
            <mat-option [value]="3">C</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>P.O.C Name</mat-label>
          <input matInput formControlName="pocName" />
        </mat-form-field>
   
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>P.O.C Designation</mat-label>
          <input matInput formControlName="pocDesignation" />
        </mat-form-field>
   
        <mat-form-field class="form-field" appearance="outline">
         <mat-label>Contact Number</mat-label>
         <input matInput formControlName="contactNumber" type="number" />
       </mat-form-field>
      </div>
    
        <div class="form-row">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Login Credentials</mat-label>
            <mat-select formControlName="loginCredentials">
              <mat-option [value]="1">Yes</mat-option>
              <mat-option [value]="0">No</mat-option>
            </mat-select>
          </mat-form-field>
    
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Payment Renewal Date</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName="paymentRenewalDate" />
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
      </div>
      <h3>Resources Allocation</h3>
      <div class="form-row">
       
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Team Leader</mat-label>
          <mat-select formControlName="teamLeader">
            <mat-option *ngFor="let option of dropdownOptions.teamLeaders" [value]="option.userId">
              {{ option.empname }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Content Writer</mat-label>
          <mat-select formControlName="contentWriter">
            <mat-option *ngFor="let option of dropdownOptions.contentWriters" [value]="option.userId">
              {{ option.empname }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Poster Designer</mat-label>
          <mat-select formControlName="posterDesigner">
            <mat-option *ngFor="let option of dropdownOptions.posterDesigners" [value]="option.userId">
              {{ option.empname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="form-row">
      
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Photographer</mat-label>
        <mat-select formControlName="photographer">
          <mat-option *ngFor="let option of dropdownOptions.photographers" [value]="option.userId">
            {{ option.empname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Video Editor</mat-label>
        <mat-select formControlName="videoEditor1">
          <mat-option *ngFor="let option of dropdownOptions.videoEditors" [value]="option.userId">
            {{ option.empname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Video Editor-2 (Optional)</mat-label>
        <mat-select formControlName="videoEditor2">
          <mat-option *ngFor="let option of dropdownOptions.videoEditors" [value]="option.userId">
            {{ option.empname }}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>DMA</mat-label>
          <mat-select formControlName="dma">
            <mat-option *ngFor="let option of dropdownOptions.dmas" [value]="option.userId">
              {{ option.empname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
   
   
   <!-- Package Section -->
   <h3>Package</h3>
   <div class="form-row">
     <mat-form-field class="form-field" appearance="outline">
       <mat-label>Base Package</mat-label>
       <input matInput formControlName="basePackage" />
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>Monthly Ad Budget</mat-label>
       <input matInput formControlName="monthlyAdBudget" />
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>No. of Poster Designs</mat-label>
       <input matInput formControlName="posterDesigns" type="number" />
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>No. of Graphic Reels</mat-label>
       <input matInput formControlName="graphicReels" type="number" />
     </mat-form-field>
  
   </div>

   <div class="form-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>No. of Educational Reels</mat-label>
      <input matInput formControlName="educationalReels" type="number" />
    </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>No. of YouTube Videos</mat-label>
       <input matInput formControlName="youtubeVideos" type="number" />
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>Shoot Offer</mat-label>
       <mat-select formControlName="shootOffer">
         <mat-option [value]="1">Yes</mat-option>
         <mat-option [value]="0">No</mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>Shoot Budget</mat-label>
       <mat-select formControlName="shootBudget">
         <mat-option [value]="1">Yes</mat-option>
         <mat-option [value]="0">No</mat-option>
       </mat-select>
     </mat-form-field>

     <mat-form-field class="form-field" appearance="outline">
       <mat-label>Charge Per Visit</mat-label>
       <input matInput formControlName="chargePerVist" />
     </mat-form-field>
   </div>

  
  
      <!-- Other Section -->
      <h3>Other</h3>
      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Move to Exit Client</mat-label>
          <mat-select formControlName="moveToExit">
            <mat-option [value]="3">Exit</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Last Date of Service</mat-label>
          <input matInput [matDatepicker]="picker4" formControlName="lastDateOfService" />
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Is there any Pending Amount?</mat-label>
          <mat-select formControlName="pendingAmountExist">
            <mat-option [value]="1">Yes</mat-option>
            <mat-option [value]="0">No</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Pending Amount</mat-label>
          <input matInput formControlName="pendingAmount" type="number" />
        </mat-form-field>
      </div>
    <!--Video Deliverables Section -->
    <div class="deliverables-header" *ngIf="editForm.get('shootOffer')?.value === 1">
      <h3>Video Deliverables</h3>
      <button mat-raised-button color="primary" (click)="addVideoDeliverable()" type="button">+ Add Video Deliverable</button>
    </div>
    
    <div *ngFor="let videodeliverables of videodeliverablesArray.controls; let i = index" [formGroup]="videodeliverables" class="deliverable-row">
      <div class="form-row">
    
          <!-- Creative Type -->
          <mat-form-field class="form-field1" appearance="outline">
            <mat-label>Creative Type</mat-label>
            <mat-select formControlName="creativeType">
              <mat-option *ngFor="let creative of creativeTypes1" [value]="creative.value">{{ creative.text }}</mat-option>
            </mat-select>
          </mat-form-field>
      
        <!-- Telugu -->
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>1st Priority Day</mat-label>
          <mat-select formControlName="priority1">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>2nd Priority Day</mat-label>
          <mat-select formControlName="priority2">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>3rd Priority Day</mat-label>
          <mat-select formControlName="priority3">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>4th Priority Day</mat-label>
          <mat-select formControlName="priority4">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>5th Priority Day</mat-label>
          <mat-select formControlName="priority5">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>6th Priority Day</mat-label>
          <mat-select formControlName="priority6">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Remove Button -->
        <button mat-icon-button color="warn" (click)="removeVideoDeliverable(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
        <!-- Deliverables Section -->
        <div class="deliverables-header">
          <h3>Deliverables</h3>
          <button mat-raised-button color="primary" (click)="addDeliverable()" type="button">+ Add Deliverable</button>
        </div>
        
        <div *ngFor="let deliverable of deliverablesArray.controls; let i = index" [formGroup]="deliverable" class="deliverable-row">
          <div class="form-row">
            <!-- Promotion Type -->
            <mat-form-field class="form-field1" appearance="outline">
              <mat-label>Promotion Type</mat-label>
              <mat-select formControlName="promotionType">
                <mat-option *ngFor="let type of promotionTypes" [value]="type.value">{{ type.text }}</mat-option>
              </mat-select>
            </mat-form-field>
        
              <!-- Creative Type -->
              <mat-form-field class="form-field1" appearance="outline">
                <mat-label>Creative Type</mat-label>
                <mat-select formControlName="creativeType">
                  <mat-option *ngFor="let creative of creativeTypes" [value]="creative.value">{{ creative.text }}</mat-option>
                </mat-select>
              </mat-form-field>
              
            <!-- Telugu -->
            <mat-form-field class="form-field1" appearance="outline">
              <mat-label>Language</mat-label>
              <mat-select formControlName="language">
                <mat-option *ngFor="let language of language" [value]="language.value">{{ language.text }}</mat-option>
              </mat-select>
            </mat-form-field>
            <!-- English -->
            <mat-form-field class="form-field1" appearance="outline">
              <mat-label>Count</mat-label>
              <input matInput formControlName="count" />
            </mat-form-field>
        
            <!-- Remove Button -->
            <button mat-icon-button color="warn" (click)="removeDeliverable(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <!--Client Priority Deliverables Section -->
    <div class="deliverables-header">
      <h3>Priority Deliverables</h3>
      <button mat-raised-button color="primary" (click)="addprioritydeliverables()" type="button">+ Add Priority Deliverable</button>
    </div>
    
    <div *ngFor="let prioritydeliverables of prioritydeliverablesArray.controls; let i = index" [formGroup]="prioritydeliverables" class="deliverable-row">
      <div class="form-row">
        <!-- Creative Type -->
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>Creative Type</mat-label>
          <mat-select formControlName="creativeType">
            <mat-option *ngFor="let creative of creativeTypes" [value]="creative.value">{{ creative.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
          <!-- Promotion Type -->
          <mat-form-field class="form-field1" appearance="outline">
            <mat-label>Promotion Type</mat-label>
            <mat-select formControlName="promotionType">
              <mat-option *ngFor="let type of promotionTypes" [value]="type.value">{{ type.text }}</mat-option>
            </mat-select>
          </mat-form-field>
      
        <!-- Telugu -->
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>1st Priority Day</mat-label>
          <mat-select formControlName="priority1">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>2nd Priority Day</mat-label>
          <mat-select formControlName="priority2">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>3rd Priority Day</mat-label>
          <mat-select formControlName="priority3">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>4th Priority Day</mat-label>
          <mat-select formControlName="priority4">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>5th Priority Day</mat-label>
          <mat-select formControlName="priority5">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field class="form-field1" appearance="outline">
          <mat-label>6th Priority Day</mat-label>
          <mat-select formControlName="priority6">
            <mat-option *ngFor="let dayNames of dayNames" [value]="dayNames.value">{{ dayNames.text }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Remove Button -->
        <button mat-icon-button color="warn" (click)="removeprioritydeliverables(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div> 
      <!-- Submit Button -->
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  