

/* A4 Container Settings */
.pdf-container {
  width: 804px; /* A4 width */
  height: 1153px; /* A4 height */
  margin: 20px auto; /* Center the container */
  padding: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-size: cover; /* Perfectly fit the container */
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 2.0;
  box-sizing: border-box; /* Ensures padding does not affect width/height */
  background-color: #fff;
}

/* Heading and Paragraph Spacing */
h4{/* Consistent spacing around headings */
  text-align: center;
  height: 24px;
  font-weight: 700;
  font-family: 'Times New Roman' !important;
}
h5{
  font-size: inherit;
  height: 22px;
  font-weight: 700;
  font-family: 'Times New Roman' !important;
}
h5, h6{
  margin-top: 5px;
  margin-bottom: 2px !important;
  text-align:left;
  /* font-size: 25px; */
}

p {
  margin-top: 2px; /* Space between paragraphs */
  text-align: justify;
  margin-bottom: 0px;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

/* Signature Section Styling */
.signature-section {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.signature-box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.signature-box li {
  margin-top: 5px ;
}
.shoot li{
  height: 22px;
}

.row {
  display: flex;
  justify-content: flex-end; /* Push items to the right */
}

li {
  text-indent: 10px !important; 
  font-family: 'Times New Roman' !important;
 /* Align text closer to the bullet */
}

li::marker{
  font-size: larger;
}

ul ul ul li::marker{
  font-size: medium !important;
}