.container {
    padding-left: 140px;
  }
  
  h2 {
    color: #3f51b5;
  }
  
  .mat-form-field {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .table-container {
    overflow-x: auto;
    width: 100%;
  }
  
  table {
    width: 100%;
    min-width: 600px;
  }
  
  button {
    margin-right: 10px;
  }
  
  /* Responsive Layout for Small Screens */
  @media screen and (max-width: 768px) {
    .table-container {
      display: block;
      overflow-x: auto;
    }
  
    table {
      width: 100%;
      display: block;
    }
  
    tr {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid #ccc;
      padding: 10px;
    }
  
    th, td {
      flex: 1 1 50%;
      text-align: left;
    }
  
    button {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  
  mat-toolbar {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .no-data-message {
    display: flex; /* Center alignment */
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 200px; /* Adjust height for alignment */
    color: #ff5722; /* Add a custom color (e.g., orange-red) */
    font-size: 18px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
    background-color: #f9f9f9; /* Optional: Light background for contrast */
    border: 1px solid #ddd; /* Optional: Add a subtle border */
    border-radius: 8px; /* Optional: Rounded corners */
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust height as needed */
  }
  th {
    background: #333;
    color: orange;
    text-align: left;
    padding: 8px;
  }