<div class="approvals-container">
  <!-- Filters -->
  <div class="filters-container">
    <mat-form-field appearance="outline">
      <mat-label>Month and Year</mat-label>
      <input
        matInput
        [matDatepicker]="dp"
        [formControl]="sharedDate"
        placeholder="MM/YYYY"
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker
        #dp
        startView="multi-year"
        (monthSelected)="setMonthAndYear($event, dp)"
        panelClass="example-month-picker">
      </mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onDateChange()">Apply</button>
  </div>

  <!-- Tab Switcher -->
  <div class="tabs">
    <button [class.active]="activeTab === 'advancepayment'" (click)="switchTab('advancepayment')">
      <mat-icon>text_snippet</mat-icon> Advance Payments
    </button>
    <button [class.active]="activeTab === 'paymentcollection'" (click)="switchTab('paymentcollection')">
      <mat-icon>text_snippet</mat-icon> Payment Collection
    </button>
    <button [class.active]="activeTab === 'gst'" (click)="switchTab('gst')">
      <mat-icon>video_library</mat-icon> GST Invoice
    </button>
    <button [class.active]="activeTab === 'nongst'" (click)="switchTab('nongst')">
      <mat-icon>palette</mat-icon> Non-GST Invoice
     </button>
    <button [class.active]="activeTab === 'ads'" (click)="switchTab('ads')">
      <mat-icon>video_library</mat-icon>Additional Services
    </button>

  </div>

  <!-- Tab Contents -->
  <app-clients-advance-payment *ngIf="activeTab === 'advancepayment'" [selectedDate]="triggeredDate"></ app-clients-advance-payment>
  <app-payment-collection *ngIf="activeTab === 'paymentcollection'" [selectedDate]="triggeredDate"></app-payment-collection>
  <app-gstinvoices *ngIf="activeTab === 'gst'" [selectedDate]="triggeredDate"></app-gstinvoices>
  <app-non-gstinvoices *ngIf="activeTab === 'nongst'" [selectedDate]="triggeredDate"></app-non-gstinvoices>
  <app-additional-services *ngIf="activeTab === 'ads'" [selectedDate]="triggeredDate"></app-additional-services>
</div>
