<h2 mat-dialog-title>{{ data.clientId ? 'Edit' : 'Add' }} Client Metadata</h2>
<mat-dialog-content [formGroup]="metaForm" style="padding-top: 10px;">
  <mat-form-field appearance="outline" class="full-width"  *ngIf="data.clientId === 0">
  <mat-label>Client</mat-label>
  <input
    type="text"
    matInput
    placeholder="Search Client"
    [(ngModel)]="selectedClientName"
    [matAutocomplete]="auto"
    [disabled]="data.clientId > 0"
    (input)="filterClients($event)"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onClientSelected($event)"
  >
    <mat-option
      *ngFor="let client of filteredClients"
      [value]="client.organizationName"
    >
      {{ client.organizationName }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Facebook Page ID</mat-label>
    <input matInput formControlName="facebookPageId" type="number" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Instagram Page ID</mat-label>
    <input matInput formControlName="instagramPageId" type="number" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Facebook Token</mat-label>
    <textarea matInput formControlName="facebookPageToken"></textarea>
  </mat-form-field>

  <!-- <mat-form-field appearance="outline" class="full-width">
    <mat-label>Instagram Token</mat-label>
    <textarea matInput formControlName="instagramPageToken"></textarea>
  </mat-form-field> -->

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>YouTube Refresh Token</mat-label>
    <textarea matInput formControlName="youtubeRefreshToken"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Post Time</mat-label>
    <input matInput type="time" formControlName="postTime" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Special Day Post Time</mat-label>
    <input matInput type="time" formControlName="specialDayPostTime" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</mat-dialog-actions>