<div class="popup-container">
  <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
    <span>Update Video Details</span>
  </mat-toolbar>
  <form [formGroup]="emergencyRequestForm">
    <div class="form-grid">
      <!-- Shoot Link Field -->
      <mat-form-field appearance="outline">
        <mat-label>Video Link</mat-label>
        <input
          matInput
          formControlName="shootLink"
          placeholder="Enter Shoot Link"
        />
        <mat-error *ngIf="emergencyRequestForm.get('shootLink')?.hasError('required')">
          Shoot Link is required.
        </mat-error>
        <mat-error *ngIf="emergencyRequestForm.get('shootLink')?.hasError('pattern')">
          Please enter a valid URL (e.g., https://example.com).
        </mat-error>
      </mat-form-field>

      <!-- Title Field -->
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title"  readonly/>
        <mat-error *ngIf="emergencyRequestForm.get('title')?.hasError('required')">
          Title is required.
        </mat-error>
      </mat-form-field>

      <!-- Thumbnail Field -->
      <mat-form-field appearance="outline">
        <mat-label>Thumbnail </mat-label>
        <input matInput formControlName="thumbNail" />
        <mat-error *ngIf="emergencyRequestForm.get('thumbNail')?.hasError('required')">
          Thumbnail is required.
        </mat-error>

      </mat-form-field>
           <mat-form-field appearance="outline" class="content-field">
          <mat-label>Content in Video</mat-label>
          <textarea matInput formControlName="contentRemarks" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('contentRemarks')?.hasError('required')">
           Content in Video is required.
          </mat-error>
        </mat-form-field>

      <!-- Caption/Description Field -->
      <mat-form-field appearance="outline" class="caption-field">
        <mat-label>Caption/Description</mat-label>
        <textarea matInput formControlName="description" readonly></textarea>
        <mat-error *ngIf="emergencyRequestForm.get('description')?.hasError('required')">
          Caption/Description is required.
        </mat-error>

      </mat-form-field>
         <mat-form-field appearance="outline" class="content-field">
          <mat-label>Content Writer Input's </mat-label>
          <textarea matInput formControlName="cwInputsForVG" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('cwInputsForVG')?.hasError('required')">
          Content Writer Input's is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="content-field">
          <mat-label>VideoGhapher Input's</mat-label>
          <textarea matInput formControlName="vgInputForVE" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('vgInputForVE')?.hasError('required')">
          VideoGhapher Input's is required.
          </mat-error>
        </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" (click)="close()">Cancel</button>
  <!-- <button mat-raised-button color="accent" [disabled]="emergencyRequestForm.invalid" (click)="saveDraft()">Save Draft</button> -->
  <button mat-raised-button color="primary" [disabled]="emergencyRequestForm.invalid" (click)="sendForApproval()">Submit</button>
</div>
