<div class="employee-container">
   <!-- <div class="container">
      <div class="circle active">
         A
      </div>

      <div class="circle">
         B
      </div>
      <div class="circle">
         C
      </div>
      <div class="circle">
         D
      </div>
      <div class="circle">
         E
      </div>
   </div> -->


   <form [formGroup]="personalDetailsForm">
      <!--Personal Details-->
      <div class="row">
         <div class="col">
            <h4 class="text-center">Employee General Details</h4>
         </div>

         <mat-card class="personal-details">
            <div class="col-12" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input matInput formControlName="middleName" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" />
                     </mat-form-field>
                  </div>
               </div>

               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="dateOfBirth" />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Marital Status</mat-label>
                        <mat-select formControlName="maritalStatus">
                           <mat-option [value]='1'>Married</mat-option>
                           <mat-option [value]='2'>Single</mat-option>
                           <mat-option [value]='3'>Widowed</mat-option>
                           <mat-option [value]='4'>Divorced</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                           <mat-option [value]='1'>Male</mat-option>
                           <mat-option [value]='2'>Female</mat-option>
                           <mat-option [value]='3'>Other</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>






               </div>


            </div>
         </mat-card>
      </div>


      <!-- Contact Details -->

      <div class="row m-2">
         <div class="col">
            <h4 class="text-center">Contact Information</h4>
         </div>
      </div>
      <mat-card class="contact-details">
         <div class="col-12" style="margin-top: 10px;">


            <div class="row">
               <div class="col-12 col-md-4">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Phone Number</mat-label>
                     <input matInput formControlName="contactNumber" />
                  </mat-form-field>
               </div>
               <div class="col-12 col-md-4">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Alternate Phone Number</mat-label>
                     <input matInput formControlName="alternateContactNumber" />
                  </mat-form-field>
               </div>

               <div class="col-12 col-md-4">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Email Id</mat-label>
                     <input matInput formControlName="emailId" />
                  </mat-form-field>
               </div>
               <div class="col-12 col-md-4">
                  <mat-form-field class="form-field" appearance="outline">
                     <mat-label>Alternate Email Id</mat-label>
                     <input matInput formControlName="alternateEmailId" />
                  </mat-form-field>
               </div>




            </div>
         </div>

      </mat-card>


      <!-- Contact Details -->

      <!--Family Details-->
      <div class="row m-2">
         <div class="col">
            <h4 class="text-center">Family Details</h4>
         </div>
         <mat-card class="personal-details">

            <div class="col-12" style="margin-top: 10px;">
               <!--Father Details-->
               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Father Name</mat-label>
                        <input matInput formControlName="fatherName" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Father Number</mat-label>
                        <input matInput formControlName="fatherNumber" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput formControlName="fatherEmailId" />
                     </mat-form-field>
                  </div>

               </div>

               <!--Mother Details-->
               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Mother Name</mat-label>
                        <input matInput formControlName="motherName" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Mother Number</mat-label>
                        <input matInput formControlName="motherNumber" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput formControlName="motherEmailId" />
                     </mat-form-field>
                  </div>

               </div>

               <!--Spouse Details-->
               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Spouse Name</mat-label>
                        <input matInput formControlName="spouseName" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Spouse Number</mat-label>
                        <input matInput formControlName="spouseNumber" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput formControlName="spouseEmailId" />
                     </mat-form-field>
                  </div>

               </div>

               <div class="row">
                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Emergency Contact</mat-label>
                        <mat-select formControlName="emergencyContact">
                           <mat-option [value]="'1'">Father</mat-option>
                           <mat-option [value]="'2'">Mother</mat-option>
                           <mat-option [value]="'3'">Spouse</mat-option>
                           <mat-option [value]="'4'">Other</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4" *ngIf="personalDetailsForm.get('emergencyContact')?.value === '4'">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>RelationShip</mat-label>
                        <mat-select formControlName="otherPersonRelation">
                           <mat-option [value]="'4'">Sibling</mat-option>
                           <mat-option [value]="'5'">Relative</mat-option>
                           <mat-option [value]="'6'">Friend</mat-option>
                        </mat-select>
                     </mat-form-field>
                  </div>
               </div>
               <!--Other Details-->
               <div class="row" *ngIf="personalDetailsForm.get('emergencyContact')?.value === '4'">



                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="otherPersonName" />
                     </mat-form-field>
                  </div>



                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="otherPersonNumber" />
                     </mat-form-field>
                  </div>

                  <div class="col-12 col-md-4">
                     <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput formControlName="otherPersonEmail" />
                     </mat-form-field>
                  </div>


               </div>
            </div>
         </mat-card>

      </div>








      <div class="row m-2">
         <div class="col" style="display: flex;justify-content: end;">

            <button mat-raised-button color="primary" type="submit" (click)="saveDraft()">
               Save
            </button>
         </div>
      </div>

   </form>
</div>