<div  class="spinner" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div class="sla-form-container">
  <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
    <span>Quote Generation Form</span>
  </mat-toolbar>
  <form [formGroup]="leadForm" (ngSubmit)="onSubmit()">
    <!-- Lead and Date -->
    <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Lead Name</mat-label>
          <input matInput [value]="leadForm.get('leadName')?.value" readonly />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date of Generation</mat-label>
          <input matInput [matDatepicker]="picker"  formControlName="dateOfGeneration" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
    </div>

    <!-- Branding Type -->
    <h2>Branding Type</h2>
    <mat-radio-group formControlName="brandingType">
      <mat-radio-button *ngFor="let type of brandingTypes" [value]="type">{{ type }}</mat-radio-button>
    </mat-radio-group>

    <!-- Services -->
    <h2>Services</h2>
    <div formGroupName="services">
      <mat-checkbox formControlName="socialMediaOptimization">Social Media Optimization</mat-checkbox>
      <mat-checkbox formControlName="dedicatedRM">Assistance of Dedicated RM</mat-checkbox>
      <mat-checkbox formControlName="dedicatedDMA">Assistance of Dedicated DMA</mat-checkbox>
      <mat-checkbox formControlName="addCampaignManagement">Ad Campaign Management</mat-checkbox>
      <mat-checkbox formControlName="performanceTracker">Monthly Performance Report</mat-checkbox>
      <mat-checkbox formControlName="photoVideoShoots">Monthly Photo and Video Shoots</mat-checkbox>
    </div>
<!-- Shoot Overview -->
 <div *ngIf="leadForm.get('services.photoVideoShoots')?.value">
<h2>Shoot Overview</h2>
<div formGroupName="shootOverview" class="form-row" *ngIf="leadForm.get('services.photoVideoShoots')?.value">
  <mat-form-field appearance="outline">
    <mat-label>Shoot Budget</mat-label>
    <mat-select formControlName="shootBudget">
      <mat-option *ngFor="let option of shootBudgetOptions" [value]="option">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="leadForm.get('shootOverview.shootBudget')?.value === 'Yes'">
    <mat-label>Charge Per Visit</mat-label>
    <input matInput  formControlName="chargePerVisit"/>
  </mat-form-field>
</div>
</div>
    <!-- Marketing Strategies -->
    <h2>Marketing Strategies</h2>
    <div formGroupName="marketingStrategies">
      <mat-radio-group formControlName="level" (change)="onLevelChange()">
        <mat-radio-button *ngFor="let level of ['Starter', 'Basic', 'Pro', 'Advanced','Gold']" [value]="level">{{ level }}</mat-radio-button>
      </mat-radio-group>
      <div>
      <mat-checkbox formControlName="googleMyBusiness">Google My Business Management</mat-checkbox>
      <mat-checkbox formControlName="seo">Search Engine Optimization</mat-checkbox>
      <mat-checkbox formControlName="podcast">Podcast</mat-checkbox>
      <mat-checkbox formControlName="competitorAnalysis">Competitor Analysis</mat-checkbox>
      <mat-checkbox formControlName="recommendingContentStratagy">Recommendation of content strategy</mat-checkbox>
      <mat-checkbox formControlName="skeletonChangeBasedOnPerson">Frequent content skeleton changes</mat-checkbox>
      <mat-checkbox formControlName="trainingOnEdVideos">Training on educational videos and templates</mat-checkbox>
      <mat-checkbox formControlName="adShoots">Ad Shoots</mat-checkbox>
      <mat-checkbox formControlName="conceptShhots">Concept Shoots</mat-checkbox>
      <mat-checkbox formControlName="onlineQAInteracts">Online Q&A interactions</mat-checkbox>
      <mat-checkbox formControlName="behindScenes">Behind the Scenes</mat-checkbox>
      <mat-checkbox formControlName="respondingToEvents">Responding to Current Events</mat-checkbox>
    </div>
    </div>
      <!-- Base Package -->
  <h2>Base Package</h2>
  <mat-form-field appearance="outline">
    <mat-label>Service Charge Amount</mat-label>
    <input matInput  formControlName="basePackage" />
  </mat-form-field>
  <!-- Advanced Assistance -->
  <h2>Advanced Assistance</h2>
  <div formArrayName="advancedAssistance" class="form-row">
    <ng-container *ngFor="let option of advancedAssistanceOptions; let i = index">
      <mat-checkbox [formControlName]="i">{{ option }}</mat-checkbox>
    </ng-container>
  </div>
 <!-- Social Media Optimization -->
 <h2>Social Media Optimization</h2>
<div formGroupName="socialMediaOptimization">
  <mat-checkbox formControlName="creation">Designing Social Media Calendar</mat-checkbox>
  <mat-checkbox formControlName="contentDevelopment">Content Development</mat-checkbox>
  <mat-checkbox formControlName="graphicDesign">Graphic Design</mat-checkbox>
</div>

<!-- Platforms -->
<!-- Platforms -->
<h2>Platforms</h2>
<div formGroupName="socialMediaOptimization">
  <div class="form-row platforms">
    <mat-checkbox formControlName="facebook">Facebook</mat-checkbox>
    <mat-checkbox formControlName="instagram">Instagram</mat-checkbox>
    <mat-checkbox formControlName="linkedin">LinkedIn</mat-checkbox>
    <mat-checkbox formControlName="youtube" (change)="onCheckboxChange($event)">YouTube</mat-checkbox>
    <mat-checkbox formControlName="google">Google My Business</mat-checkbox>
    <mat-checkbox formControlName="others">Others</mat-checkbox>

    <!-- Textbox for 'Others' -->
    <mat-form-field appearance="outline" *ngIf="leadForm.get('socialMediaOptimization.others')?.value">
      <mat-label>Specify Other Platforms</mat-label>
      <input matInput formControlName="otherPlatform" />
    </mat-form-field>
  </div>
</div>



 
    <!-- Monthly Deliverables -->
    <h2>Monthly Deliverables</h2>
    <div class="form-row" formGroupName="monthlyDeliverables">
      <mat-form-field *ngFor="let field of deliverables" appearance="outline">
        <mat-label>{{ field }}</mat-label>
        <input matInput  formControlName="{{deliverableFields[field]}}" />
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-checkbox formControlName="requiredToDedicateAdditionalAdBudget">You have to dedicate additional budget for the ads to reach your target audience in inorganic methods.</mat-checkbox>
      <mat-form-field appearance="outline" >
        <mat-label>Max Ad Budget</mat-label>
        <input matInput  formControlName="noSCForAdCMUpto" />
      </mat-form-field>
    </div>
    <P  class="form-row">We will not apply an additional service charge for the mentioned ad budget.</P>


  
    <!-- Submit Button -->
    <div class="submit-button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!leadForm.valid">Submit &  Generate Quote</button>
    </div>
  </form>
</div>


<button type="button" style="display: none;" #modalButton id="ModalButton" data-bs-toggle="modal" data-bs-target="#success">demo
</button>

<!-- Modal -->
<div class="modal fade" id="success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center gap-3">
          <b>Changes Updated Successfully</b>
        </div>
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="redirect()">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="generateQuote()">Generate Quotation</button>
        </div>
      </div>
    </div>
  </div>
</div>