/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  mat-toolbar {
    font-family: Roboto, sans-serif;
  }
  
.spinner{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1056;
}
