.dashboard-container {
  
    font-family: Arial, sans-serif;
    padding-left: 140px;
  }
  
  .filter-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .filter-field {
    width: 200px;
  }
  
  .metrics-container,
  .performance-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .metric-card {
    flex: 1;
    padding: 16px;
    color: white;
    border-radius: 8px;
    text-align: center;
  }
  
  .metric-clients {
    background-color: #4caf50;
  }
  
  .metric-posts {
    background-color: #2196f3;
  }
  
  .metric-pending-posts {
    background-color: #ffc107;
  }
  
  .metric-approvals {
    background-color: #8bc34a;
  }
  
  .metric-updated {
    background-color: #03a9f4;
  }
  
  .metric-to-update {
    background-color: #ff9800;
  }
  
  .metric-budget {
    background-color: #f44336;
  }
  
  .metric-budget-spent {
    background-color: #e91e63;
  }
  
  .metric-icon {
    font-size: 25px;
    margin-bottom: 8px
  }
  
  .table-card {
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .table-icon {
    font-size: 18px;
    margin-right: 8px;
    vertical-align: middle;
  }