<h1 mat-dialog-title class="dialog-title">Update Design</h1>
<div mat-dialog-content class="dialog-content" style="padding-top: 20px;">
  <mat-form-field appearance="outline" class="content-field">
    <mat-label>Content In Post</mat-label>
    <textarea matInput formControlName="contentInPost" readonly>
      {{data.contentInPost}}
    </textarea>
  </mat-form-field>

  <mat-form-field appearance="outline" class="content-field">
    <mat-label>Caption</mat-label>
    <textarea matInput formControlName="contentCaption" readonly>
      {{data.contentCaption}}
    </textarea>
  </mat-form-field>
  <!-- Reference Doc Link -->
<div class="content-field" *ngIf="data.referenceDoc && data.referenceDoc !== ''" style="padding: 20px;">
  <label class="link-label">Reference Doc Link:</label>
  <a
    [href]="data.referenceDoc"
    target="_blank"
    rel="noopener noreferrer"
    class="url-link"
  >
    {{ data.referenceDoc }}
  </a>
</div>
<!-- <div class="content-field" *ngIf="!data.referenceDoc || data.referenceDoc === ''">
  <label class="link-label">Reference Doc Link:</label>
  <span>No URL available</span>
</div> -->

  <!-- Update Design Link Field -->
  <mat-form-field appearance="outline" class="dialog-field">
    <mat-label>Update Design Link</mat-label>
    <input 
      matInput 
      [(ngModel)]="data.link" 
      placeholder="Enter Design Link" 
      required 
      [pattern]="'https?://.*\\.(com|net|in|org|gov|edu)'" />
    <mat-error *ngIf="!isValidUrl(data.link)">
      Please enter a valid URL ending with .com, .net, .in, etc. (e.g., https://example.com).
    </mat-error>
  </mat-form-field>
  
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="accent"  (click)="onSave('draft')">Save Draft</button>
  <button mat-raised-button color="primary" (click)="onSave('approval')">Send To Approval</button>
</div>
