<div class="popup-container">
    <mat-toolbar color="primary" style="border-radius: 10px; margin-bottom: 20px;">
      <span>Update Video Details</span>
    </mat-toolbar>
    <form [formGroup]="emergencyRequestForm">
      <div class="form-grid">
  
  
        <!-- Title Field -->
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
          <mat-error *ngIf="emergencyRequestForm.get('title')?.hasError('required')">
            Title is required.
          </mat-error>
        </mat-form-field>
  
        <!-- Thumbnail Field -->
        <mat-form-field appearance="outline">
          <mat-label>Thumbnail Link</mat-label>
          <input matInput formControlName="thumbNail" />
          <mat-error *ngIf="emergencyRequestForm.get('thumbNail')?.hasError('required')">
            Thumbnail Link is required.
          </mat-error>
        </mat-form-field>
  
        <!-- Caption/Description Field -->
        <mat-form-field appearance="outline" class="content-field">
          <mat-label>Caption/Description</mat-label>
          <textarea matInput formControlName="description" ></textarea>
          <mat-error *ngIf="emergencyRequestForm.get('description')?.hasError('required')">
            Caption/Description is required.
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="emergencyRequestForm.invalid" (click)="saveDraft()">Save Draft</button>
    <button mat-raised-button color="primary" [disabled]="emergencyRequestForm.invalid" (click)="sendForApproval()">Send To Approval</button>
  </div>
  