<div class="container">
    <mat-toolbar color="primary" style="border-radius: 10px;">
      <span>Clients Advance Payment List</span>
    </mat-toolbar>
  
  
     <!-- Loader -->
     <div class="loader-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
       
    <!-- Payment Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!isLoading">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>S.No</th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>
  
      <!-- Client Column -->
      <ng-container matColumnDef="organizationName">
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span>Client</span>
            <button mat-icon-button (click)="toggleFilterVisibility('organizationName')" style="margin-left: 8px;">
              <mat-icon *ngIf="!filterVisibility['organizationName']">filter_list</mat-icon>
              <mat-icon *ngIf="filterVisibility['organizationName']">close</mat-icon>
            </button>
          </div>
          <div *ngIf="filterVisibility['organizationName']" class="filter-input">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Filter Client</mat-label>
              <input matInput (keyup)="applyFilter($event, 'organizationName')" placeholder="Search Client" />
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let payment">{{ payment.organizationName }}</td>
      </ng-container>
      
  
      <!-- Amount Column -->
      <ng-container matColumnDef="basePackage">
        <th mat-header-cell *matHeaderCellDef>Base Package</th>
        <td mat-cell *matCellDef="let payment">₹{{ payment.basePackage }}</td>
      </ng-container>
  
      <!-- Due Date Column -->
      <ng-container matColumnDef="advDate">
        <th mat-header-cell *matHeaderCellDef>Advance Date</th>
        <td mat-cell *matCellDef="let payment">{{ payment.advDate }}</td>
      </ng-container>
    <!-- Amount Column -->
    <ng-container matColumnDef="advAmount">
        <th mat-header-cell *matHeaderCellDef>Advance Amount</th>
        <td mat-cell *matCellDef="let payment">₹{{ payment.advAmount }}</td>
        </ng-container>
  
       <!-- Payment Status Column -->
       <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <span>Payment Status</span>
          <button mat-icon-button (click)="toggleFilterVisibility('paymentStatus')" style="margin-left: 8px;">
            <mat-icon *ngIf="!filterVisibility['paymentStatus']">filter_list</mat-icon>
            <mat-icon *ngIf="filterVisibility['paymentStatus']">close</mat-icon>
          </button>
        </div>
          <div *ngIf="filterVisibility['paymentStatus']" class="filter-input">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Filter Status</mat-label>
              <input matInput (keyup)="applyFilter($event, 'paymentStatus')" placeholder="Search Status" />
            </mat-form-field>
          </div>
        </th>
        <td mat-cell *matCellDef="let payment">{{ payment.paymentStatus }}</td>
      </ng-container>
  
     
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource.data.length === 0" class="no-data-message">
      <p>No Records Found...</p>
    </div>
          <!-- Paginator -->
          <mat-paginator [pageSize]="30" [pageSizeOptions]="[5, 10, 20, 30]"></mat-paginator>
  </div>