  <!-- Data Stats Section -->
 <div class="dashboard-container">
  <mat-card class="data-section">
    <mat-card-header class="card-header">
      <mat-card-title>Employee Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-top: 10px;">
      <div class="data-grid">
        <mat-card
          *ngFor="let stat of dataStats"
          class="data-card"
          [ngStyle]="{ 'background-color': getStatColor(stat.label) }"
        >
          <mat-card-header class="data-card-header">
            <mat-card-title>{{ stat.label }}</mat-card-title>
            <mat-icon class="stat-icon" (click)="getRow(stat)">{{ getStatIcon(stat.label) }}</mat-icon>
          </mat-card-header>
           <!-- <mat-card-content>
            <button mat-icon-button color="white" (click)="getRow(stat)">
              <div>{{ stat.value }}</div>
            </button>
          </mat-card-content>  -->
         
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
